.travel {
  .travel-main{
    padding: 10px 0 0 15px;
    @include flex-align(stretch);
    @include flex-num(5);
    @include flex-flow(row);
    @include smallscreen {
      @include flex-num(4);
    }
    .box-title{
      padding:14px 18px 12px 8px;
    }
    .left-box{
      @include flex-num(1);
      @include flex-flow(column);
      min-height:0;
      .left-down{
        @include flex-num(1);
        @include flex-flow(row);
        min-height:0;
        >div{
          @include flex-num(1);
        }
      }
      .left-top{
        @extend .left-down;
        margin-bottom:15px;
      }
    }
    .right-box{
      width:28%;
      @include flex-flow(column);
      min-height:0;
      >div{
        @include flex-num(1);
      }
    }
  }

}
