.content-box {
  @include flex-flow(column);
  @include flex-num(1);
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  @include mobilescreen {
    display: block;
    padding: 0;
    background: #f6f6f6;
  }
  .chart {
    border: 1px solid #DDD;
    margin-bottom: 10px;
    @include flex-num(3);
    //min-height: 480px;
    @include flex-flow(column);
    @include mobilescreen {
      display: block;
      background: #FFF;
      margin-bottom: 0;
    }
    // @include smallscreen {
    //   height: 480px;
    // }
    // @include bigscreen {
    //   height: 600px;
    // }
    .graph {
      padding: 5px;
      @include flex-num(1);
      @include mobilescreen {
        &>div {
          min-height: 300px;
        }
      }
    }
  }
  .table-data {
    @include smallscreen {
      max-height: 100px;
    }
    @include flex-num(1);
    @include flex-flow(column);
  }
  .data-content {
    @include flex-flow(column);
    .data-head {
      @include flex-flow(row);
      .data-head-item {
        @include flex-num(1);
        text-align: center;
        background: #20b3a9;
        color: #FFF;
        line-height: 1.4;
        padding: 8px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1em;
        font-weight: bold;
        font-family: 黑体;
      }
    }
    .data-body {
      @include flex-flow(column);
      .data-body-item {
        @include flex-num(1);
        @include flex-flow(row);
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px 0;
        font-size: 0.85em;
        &:nth-of-type(even) {
          background-color: #cdf1ec;
        }
        .data-name {
          @include flex-num(1);
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .data-value {
          @include flex-num(1);
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
  .table {
    font-size: 16px;
    font-family: 黑体;
    table-layout: fixed;
    @include flex-num(1);
    @include mobilescreen {
      border-bottom: 1px solid #DDD;
    }
    >tbody {
      >tr {
        &:nth-of-type(even) {
          background-color: nth($linkColor,4);
        }
        &:nth-of-type(odd) {
          background-color: $white;
        }
        >td {
          border-top: none;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 8px 0;
          font-size: 0.8em;
        }
      }
    }
    >thead {
      >tr {
        background: nth($linkColor,3);
        color: $white;
        >th {
          border-bottom: none;
          text-align: center;
          vertical-align: top;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.85em;
        }
      }
    }
  }
  .cell-border {
    border: 1px solid #DDD;
    overflow: hidden;
    line-height: 1.4;
    label {
      margin: 0;
      vertical-align: middle;
      border-right: 1px solid #DDD;
      text-align: center;
      font-size: 0.85em;
      font-weight: bold;
      padding: 8px;
      line-height: 1.4;
    }
    span {
      padding: 8px;
      line-height: 1.4;
      text-align: center;
    }
  }
}
.uib-datepicker {
  .btn-default {
    background-color: #f8f8f8;
    border-color: #e1e1e1;
    &.active {
      background-color: #31b0d5;
      border-color: #269abc;
      .text-info {
        color: $white;
      }
    }
  }
}
.uib-button-bar {
  .btn-info {
    display: none;
  }
  .btn-success {
    background-color: #20b3a9;
  }
  .btn-danger {
    background-color: #f66850;
    border-color: #d5614e;
  }
}
.statistic {
  padding: 6px;
  height: 46px;
  label {
    line-height: 1rem;
    display: inline-block;
    vertical-align: top;
  }
  .time-pick {
    display: inline-block;
    max-width: 198px;
    .input-group {
      display: table;
      margin-bottom: 0;
      .input-group-btn {
        vertical-align: top;
        width: 30px;
      }
      .quarter {
        display: table-cell;
        bottom: 8px;
        height: 26px;
        position: relative;
        left: 8px;
        border: 1px solid #cccccc;
        background: none;
      }
      .input-time {
        height: 26px;
        padding: 0 10px;
        width: 90px;
        &.ng-invalid {
          border: 1px solid red !important;
        }
      }
      .btn-time {
        line-height: 1;
        padding: 4px 6px;
        font-size: 14px;
      }
    }
  }
  .from-dept {
    text-align: right;
    line-height: 1rem;
    @include flex-num(1);
  }
}
.item-wrap {
  width: 100%;
  height: 100%;
  @include flex-flow(column);
  .chart-item {
    @include flex-num(1);
    @include flex-flow(row);
    .item {
      @include flex-num(1);
      @include flex-flow(row);
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      .pic {
        background: #4ca3d8;
        border-radius: 50%;
        padding: 10px;
        width: 6rem;
        height: 6rem;
        display: inline-block;
        text-align: center;
      }
      .fa {
        font-size: 5rem;
        color: $white;
      }
      .content-item {
        width: 90%;
        display: inline-block;
        text-align: center;
        padding: 1.4rem 0.7rem;
        background: rgba(0,176,80,1);
        font-size: 0.9rem;
        color: $white;
      }
    }
  }
}
