<div class='content-box right5 left5' ng-repeat='item in detail.dcontent  track by $index'>

  <div class='chart'>
    <div class='statistic'>
      <div ng-show='popups[$index].model'>
        <label >统计时间：</label>
        <div class='time-pick'>
          <p class="input-group">
            <input type="text" ng-change='changed($index)' class="form-control input-time" uib-datepicker-popup="{{popups[$index].format}}" ng-model="popups[$index].model" is-open="popups[$index].opened" datepicker-options="popups[$index].dateOptions" ng-required="true" clear-text="清除" current-text='' close-text='关闭' alt-input-formats="altInputFormats"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-time" ng-click="open($index)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>
      </div>
      <div class='from-dept'>
        <label>数据来源:</label>统计局
      </div>
    </div>
    <div class='graph' wiserv-chart content=popups[$index]></div>
  </div>
  <div class='table-data'>
    <table class="table  table-striped top10 table-hover text-center" ng-hide='popups[$index].formTable'>
      <thead>
        <tr>
          <th></th>
          <th ng-repeat='column in popups[$index].columnNames'>
            {{column}}
          </th>
        </tr>
      </thead>
      <tr ng-repeat='row in popups[$index].rowData'>
        <td>{{row.rowName}}</td>
        <td ng-repeat='data in row.rowValue track by $index' title='{{data.value}}'>{{data.value}}</td>
      </tr>
    </table>
    <div ng-hide='!popups[$index].formTable'>
      <div ng-repeat='row in popups[$index].rowData'>
        <div class='cell-border'>
          <label class='col-md-7'>{{row.name}}</label>
          <span class='col-md-5'>{{row.value}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
