<div class="project_county left5 right5">
  <div class='statistic'>
    <div class='pull-right'>
      <label>统计时间：</label>
      <div class='time-pick'>
        <p class="input-group">
          <input type="text" ng-change='changed()' readonly class="form-control input-time" uib-datepicker-popup="{{datepick.format}}" ng-model="datepick.model" is-open="datepick.opened" datepicker-options="datepick.dateOptions" ng-required="true" clear-text="清除" current-text='' close-text='关闭' alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-time" ng-click="open()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
          <select ng-model='datepick.quarter' class='quarter' ng-options='x.id as x.name for x in quarterOptions'></select>
        </p>
      </div>
    </div>
  </div>
  <div class="eco_title" style="clear:both;">
    <ul class="body">
      <li>
        <div class="pull-left border_r width_l">
          <img src="assets\images\process_01.png" class="img-responsive" width="50%"/>
        </div>
        <div class="pull-right width_r">
          <p class="font_color">{{allCityData.quarterly_investment_achieved_rate}}%</p>
          <p>季度总投资完成进度</p>
        </div>
      </li>
      <li>
        <div class="pull-left border_r width_l">
          <img src="assets\images\process_02.png" class="img-responsive" width="50%"/>
        </div>
        <div class="pull-right width_r">
          <p class="font_color2">{{allCityData.yearly_investment_achieved_rate}}%</p>
          <p>全年总投资完成进度</p>
        </div>
      </li>
      <li style="margin-right:0px">
        <div class="pull-left border_r width_l">
          <img src="assets\images\process_03.png" class="img-responsive" width="50%"/>
        </div>
        <div class="pull-right width_r">
          <p class="font_color">{{allCityData.delayed_project_number}}</p>
          <p>进度滞后项目数</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="eco_footer">
    <table class="table table-responsive table-bordered table-striped table-lg-screen" style="width:100%">
      <tr>
        <th>区域</th>
        <th>年目标（亿元）</th>
        <th>季目标（亿元）</th>
        <th>投资进度完成比</th>
        <th>季进度</th>
        <th>滞后项目数（个）</th>
        <th>进度总评</th>
      </tr>
      <tr ng-repeat="indicatorData in indicatorDatas">
        <td>{{indicatorData.area}}</td>
        <td>{{indicatorData.yearly_argetTotal}}</td>
        <td>{{indicatorData.quarterly_target}}</td>
        <td class="width20">
          <uib-progressbar value=indicatorData.quarterly_investment_achieved_rate type="success" style="margin-bottom:0">{{indicatorData.quarterly_investment_achieved_rate}}%</uib-progressbar>
          <div class="statistic1">
            <label>年进度</label>
            <uib-progressbar class="in_block" value=indicatorData.yearly_investment_achieved_rate type="info" style="margin-bottom:0"></uib-progressbar>
            <span>{{indicatorData.yearly_investment_achieved_rate}}%</span>
          </div>
        </td>
        <td>{{indicatorData.quarterly_investment_achieved_rate}}%</td>
        <td>{{indicatorData.delayed_project_number}}</td>
        <td class="font_yellow" ng-if="indicatorData.processing_evaluation=='滞后'">{{indicatorData.processing_evaluation}}</td>
        <td class="font_blue" ng-if="indicatorData.processing_evaluation=='正常'">{{indicatorData.processing_evaluation}}</td>
      </tr>
    </table>

    <table class="table table-responsive table-bordered table-striped table-mb-screen" style="width:100%">
      <tr>
        <th width='30%'>区域</th>
        <th width='55%'>投资进度完成比</th>
        <th width='15%'>详情</th>
      </tr>
      <tr ng-repeat="indicatorData in indicatorDatas">
        <td>{{indicatorData.area}}</td>
        <td class="width20">
          <uib-progressbar value=indicatorData.quarterly_investment_achieved_rate type="success" style="margin-bottom:4px">季进度{{indicatorData.quarterly_investment_achieved_rate}}%</uib-progressbar>
          <uib-progressbar class="in_block" value=indicatorData.yearly_investment_achieved_rate type="info" style="margin-bottom:0">年进度{{indicatorData.yearly_investment_achieved_rate}}%</uib-progressbar>
        </td>
        <td><button uib-popover-html="detailInfo({{indicatorData}})" class="btn btn-default btn-detail-info"  popover-trigger="focus" ><i class='fa fa-info-circle'></i></button></td>
      </tr>
    </table>
  </div>
</div>
