.service {
  .service-main{
    padding: 10px 0 0 15px;
    @include flex-align(stretch);
    @include flex-num(5);
    @include flex-flow(column);
    @include smallscreen {
      @include flex-num(4);
    }
    .box-title{
      padding:14px 18px 12px 8px;
    }
  }
  .top-box {
    @include flex-num(1);
    @include flex-flow(row);
    margin-bottom: 15px;
    >div {
      @include flex-num(1);
    }
  }
  .down-box{
    @extend .top-box;
    margin-bottom:0;
  }
}
