<div class='menu-label'>
  <span ng-if='!content.flag' ng-repeat='subMenu in content.subMenus' ui-sref-active="active" ui-sref='main.module.content.detail({pid:subMenu.id,mname:subMenu.name})' ui-sref-opts="{reload:'main.module.content.detail'}" class="label"  >{{subMenu.name}}</span>
  <span ng-if='content.flag' ng-repeat='subMenu in content.subMenus' ui-sref-active="active" ui-sref='main.module.content.goalquater({pid:subMenu.id})' ui-sref-opts="{reload:'main.module.content.goalquater'}" class="label"  >{{subMenu.name}}</span>
  <!-- <span  ui-sref='main.module.content.goalquater({pid:subMenu.id})' ui-sref-opts="{reload:'main.module.content.goalquater'}" class="label"  >目标工作管理</span> -->
</div>
<div class='box-wrap' ui-view>

</div>
