.menu{
  .left {
    @include flex-num(1);
    @include flex-flow(column);
    padding-left: 4rem;
    @include smallscreen {
      padding-left: 0;
    }
  }
  #map {
    width: 74%;
    @include flex-num(1);
    margin: 0 auto;
    @include smallscreen {
      width: 80%;
    }
    #bzmap {
      width: 100%;
      // background: url("../assets/images/map_bg.png") no-repeat center !important;
      background-size: 100% 100% !important;
      background-repeat:no-repeat !important;
      background-position:center !important;
    }
    div {
      width: 100% !important;
      top: -28px;
      left: 10px;
    }
  }
  .right {
    @include flex-num(1);
    @include flex-flow(column);
    padding-left: 6rem;
    position: relative;
    @include smallscreen {
      padding-left: 4rem;
    }
    .back-btn {
      position: absolute;
      bottom: 15px;
      left: -4rem;
      @include smallscreen {
        left: -7rem;
      }
      .btn {
        border: 1px solid rgba(0,120,255,1);
        color: #FFF;
        background: rgb(16,61,161);
        border-radius: 4px;
        padding: 8px 19px;
        .circle-wrap {
          display: inline-block;
          width: 20px;
          height: 20px;
          border: 1px solid #FFF;
          border-radius: 50%;
          margin-right: 6px;
          font-size: 12px;
        }
      }
    }
    .media {
      @include flex-num(1);
      margin: 0;
      padding: 1.4rem 1rem;
      color: $white;
      font-size: 0.75rem;
      font-family: '微软雅黑';
      @include smallscreen {
        padding: 0.6rem 1rem;
      }
      .media-heading {
        font-size: 1rem;
        font-family: '微软雅黑';
        line-height: 2rem;
      }
      .media-left {
        width: 30%;
        text-align: center;
        vertical-align: middle;
        cursor:default;
      }
      p {
        margin: 0;
        padding: 0.2rem 0;
      }
      strong {
        letter-spacing: 2px;
        padding: 0 14px;
        font-size: 0.9rem;
        &.total {
          color: rgb(0,255,246);
        }
        &.rate {
          color: rgb(214,183,11);
          font-weight: normal;
        }
      }
    }
    .vbox {
      @include flex-num(1);
      @include flex-flow(column);
      position: relative;
      margin: 15px 0;
      &.border {
        background: rgba(0, 120, 255, 0.1);
        border: 1px solid #3656bd;
      }
    }
    .hbox {
      @include flex-flow(row);
      .border {
        @include flex-num(1);
        position: relative;
        margin-right: 15px;
        background: rgba(0, 120, 255, 0.1);
        border: 1px solid #3656bd;
        &:last-child {
          margin-right: 0;
        }
      }
      .media {
        strong {
          font-size: 0.8rem;
        }
      }
      .media-heading {
        font-size: 0.8rem;
      }
    }
    .box-border {
      position: absolute;
      content: '';
      display: inline-block;
      width: 15px;
      height: 11px;
    }
    .box-left-top {
      @extend .box-border;
      border-top: 2px solid rgb(0,127,203);
      border-left: 2px solid rgb(0,127,203);
      left: -3px;
      top: -3px;
    }
    .box-left-bottom {
      @extend .box-border;
      border-bottom: 2px solid rgb(0,127,203);
      left: -2px;
      bottom: -2px;
      border-left: 2px solid rgb(0,127,203);
    }
    .box-right-top {
      @extend .box-border;
      border-top: 2px solid rgb(0,127,203);
      right: -2px;
      top: -2px;
      border-right: 2px solid rgb(0,127,203);
    }
    .box-right-bottom {
      @extend .box-border;
      border-bottom: 2px solid rgb(0,127,203);
      right: -2px;
      bottom: -2px;
      border-right: 2px solid rgb(0,127,203);
    }
  }

}
