<div class='menu inner-wrap'>
  <div class='left'>
    <div wiserv-chart-map id='map' content=qxdata all=allDatas></div>
  </div>
  <div class='right'>
    <!-- <div class='back-btn'><a class='btn '><span class='circle-wrap'><i class='fa fa-chevron-right'></i></span>返回到首页</a></div> -->
    <h3 style='color:#FFF;font-size:1rem;margin:0'>{{mInfo.init_query_time}}数据：来源{{mInfo.dep_name}}</h3>
    <div class='vbox border'>
      <span class='box-left-top'></span>
      <span class='box-left-bottom'></span>
      <span class='box-right-top'></span>
      <span class='box-right-bottom'></span>
      <div class="media">
        <a class="media-left" >
          <img src='assets/images/gdp_ico.png' alt='gdp' width='60%'/>
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{qxdata.data[0].title}}</h4>
          <p>￥<strong class='total'>{{qxdata.data[0].item[0].value==""?"-":qxdata.data[0].item[0].value}}</strong>{{qxdata.data[0].item[0].unit}}</p>
          <p>增速<strong class='rate'>{{qxdata.data[0].item[1].value==""?"-":qxdata.data[0].item[1].value}}{{qxdata.data[0].item[1].unit}}</strong></p>
        </div>
      </div>
    </div>
    <div class='vbox hbox'>
      <div class='border'>
        <span class='box-left-top'></span>
        <span class='box-left-bottom'></span>
        <span class='box-right-top'></span>
        <span class='box-right-bottom'></span>
        <div class="media">
          <a class="media-left" >
            <img src='assets/images/con_ico.png' alt='gdp' />
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{qxdata.data[1].title}}</h4>
            <p>￥<strong class='total'>{{qxdata.data[1].item[0].value==""?"-":qxdata.data[1].item[0].value}}</strong>{{qxdata.data[1].item[0].unit}}</p>
            <p>增速<strong class='rate'>{{qxdata.data[1].item[1].value==""?"-":qxdata.data[1].item[1].value}}{{qxdata.data[1].item[1].unit}}</strong></p>
          </div>
        </div>
      </div>
      <div class='border'>
        <span class='box-left-top'></span>
        <span class='box-left-bottom'></span>
        <span class='box-right-top'></span>
        <span class='box-right-bottom'></span>
        <div class="media">
          <a class="media-left" >
            <img src='assets/images/ivst_ico.png' alt='gdp' />
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{qxdata.data[2].title}}</h4>
            <p>￥<strong class='total'>{{qxdata.data[2].item[0].value==""?"-":qxdata.data[2].item[0].value}}</strong>{{qxdata.data[2].item[0].unit}}</p>
            <p>增速<strong class='rate'>{{qxdata.data[2].item[1].value==""?"-":qxdata.data[2].item[1].value}}{{qxdata.data[2].item[1].unit}}</strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class='vbox hbox'>
      <div class='border'>
        <span class='box-left-top'></span>
        <span class='box-left-bottom'></span>
        <span class='box-right-top'></span>
        <span class='box-right-bottom'></span>
        <div class="media">
          <a class="media-left" >
            <img src='assets/images/fi_ico.png' alt='gdp' />
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{qxdata.data[3].title}}</h4>
            <p>￥<strong class='total'>{{qxdata.data[3].item[0].value==""?"-":qxdata.data[3].item[0].value}}</strong>{{qxdata.data[3].item[0].unit}}</p>
            <p>增速<strong class='rate'>{{qxdata.data[3].item[1].value==""?"-":qxdata.data[3].item[1].value}}{{qxdata.data[3].item[1].unit}}</strong></p>
          </div>
        </div>
      </div>
      <div class='border'>
        <span class='box-left-top'></span>
        <span class='box-left-bottom'></span>
        <span class='box-right-top'></span>
        <span class='box-right-bottom'></span>
        <div class="media">
          <a class="media-left" >
            <img src='assets/images/in_ico.png' alt='gdp' />
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{qxdata.data[4].title}}</h4>
            <p>￥<strong class='total'>{{qxdata.data[4].item[0].value==''?"-":qxdata.data[4].item[0].value}}</strong>{{qxdata.data[4].item[0].unit}}</p>
            <p>增速<strong class='rate'>{{qxdata.data[4].item[1].value==""?"-":qxdata.data[4].item[1].value}}{{qxdata.data[4].item[1].unit}}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
