.goal-quarter-timepick {
  position: absolute;
  right: 23px;
  top: -40px;
  @include mobilescreen {
    position: relative;
    right: 0;
    top: 0;
  }
}
.goal-quater {
  @include flex-num(1);
  @include flex-flow(column);
  padding-bottom: 10px;
  padding-right: 1rem;
  overflow: hidden;
  min-height: 0;
  position: relative;
  @include mobilescreen {
    padding: 0 5px;
  }
  .content-top {
    @include flex-num(1);
    @include flex-flow(row);
    min-height: 0;
    // min-height: 300px;
    @include mobilescreen {
      position: relative;
    }
    .top-left {
      @include flex-num(3);
      @include flex-flow(column);
      border: 1px solid #DDD;
      padding: 10px;
      .table-mb-screen {
        display: none;
        @include mobilescreen {
          display: table;
          position: absolute;
          width: 36%;
          right: -8px;
          top: 10%;
          th,
          td {
            padding: 5px 8px;
          }
        }
      }
      .chart {
        @include flex-num(1);
        @include flex-flow(column);
        position: relative;
        .graph {
          @include flex-num(1);
          @include mobilescreen {
            height: 400px !important;
            >div{
              height:380px !important;
            }
          }
        }
      }
    }
    .top-right {
      margin-left: 0.8rem;
      @include flex-num(2);
      border: 1px solid #DDD;
      padding: 10px 10px 0;
      @include mobilescreen {
        margin: 0;
        border: 0;
        padding: 15px 5px;
        display: none;
        .table-lg-screen {
          display: none;
        }
      }
      .title {
        text-align: center;
        font-family: 微软雅黑;
        @include mobilescreen {
          display: none;
        }
      }
    }
    .table {
      margin-bottom: 0;
      thead {
        tr {
          background: #20b3a9;
          color: #FFF;
          th {
            text-align: center;
            padding: 10px 8px;
            font-size: 0.7rem;
            border: none;
          }
        }
      }
      tbody {
        tr {
          &:nth-of-type(odd) {
            background-color: $white;
          }
          &:nth-of-type(even) {
            background-color: #cdf1ec;
          }
          td {
            border: none;
            padding: 10px 8px;
            font-size: 0.7rem;
            color: #666666;
            @include smallscreen {
              padding: 5px;
            }
            img {
              width: 14%;
            }
            &.first {
              color: rgb(252,108,3);
            }
            &.second {
              color: rgb(252,108,3);
            }
            &.third {
              color: rgb(252,108,3);
            }
          }
        }
      }
    }
  }
  .content-bottom {
    border: 1px solid #DDD;
    margin-top: 0.6rem;
    height: 20%;
    padding: 15px;
    -webkit-align-items: center;
    align-items: center;
    min-height: 0;
    @include flex-flow(row);
    @include mobilescreen {
      display: none;
    }
    .label-icon {
      @include flex-num(1);
      border-right: 1px solid #DDD;
      .media-left {
        width: 46%;
        text-align: center;
        padding-right: 0;
        text-decoration: none;
        cursor: default;
        img {
          width: 36%;
        }
        .desc {
          margin-top: 2px;
          color: #666666;
          margin-bottom: 0;
        }
      }
      .media-body {
        text-align: center;
        vertical-align: middle;
        strong {
          font-size: 1.4rem;
          color: #33a6e5;
          &.down {
            color: #20b3a9;
          }
        }
      }
    }
    .item-list {
      @include flex-num(3);
      @include flex-flow(row);
      padding: 0;
      overflow: hidden;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      slick {
        @include flex-flow(row);
        overflow: hidden;
        .slick-prev {
          left: 15px;
          background: #03A9F4;
        }
        .slick-next {
          right: 15px;
          background: #03A9F4;
        }
      }
      .slick-list {
        margin-left: 80px;
        margin-right: 80px;
        width: 100%;
      }
    }
    .item {
      @include flex-num(4);
      @include flex-flow(row);
      -webkit-align-items: center;
      align-items: center;
      padding: 0 100px 0 1rem;
      .cell {
        @include flex-num(2);
        text-align: right;
        font-family: 微软雅黑;
        &:first-child {
          text-align: left;
          @include flex-num(3);
        }
        &:nth-child(2) {
          text-align: center;
        }
        h5 {
          color: #666666;
        }
        strong {
          font-size: 1.4rem;
          color: #33a6e5;
        }
      }
    }
    .detail-item {
      @include flex-num(3);
      @include flex-flow(row);
      -webkit-align-items: center;
      align-items: center;
      padding: 15px;
      .cell {
        @include flex-num(2);
        text-align: center;
        font-family: 微软雅黑;
        &:first-child {
          text-align: left;
          @include flex-num(3);
        }
        &:nth-child(2) {
          text-align: center;
        }
        h5 {
          color: #333;
          @include smallscreen {
            margin: 0;
          }
        }
        strong {
          font-size: 1.2rem;
          color: #20b3a9;
        }
      }
    }
    .prev,
    .penal-prev {
      position: absolute;
      left: 15px;
      top: 30%;
      &.slick-disabled {
        .btn {
          opacity: 0.6;
        }
      }
    }
    .next,
    .penal-next {
      position: absolute;
      right: 15px;
      top: 30%;
      &.slick-disabled {
        .btn {
          opacity: 0.6;
        }
      }
    }
  }
}
