<div class='goal-quater left5 right5' ng-repeat='item in alldatas  track by $index' ng-if='$index == 0'>
  <div class='statistic right-top'>
    <div class='pull-left'>
      <label >统计时间：</label>
      <div class='time-pick'>
        <p class="input-group">
          <input type="text" ng-change='changed()' readonly class="form-control input-time" uib-datepicker-popup="{{datepick.format}}" ng-model="datepick.model" is-open="datepick.opened" datepicker-options="datepick.dateOptions" ng-required="true" clear-text="清除" current-text='' close-text='关闭' alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-time" ng-click="open()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
          <select ng-model='datepick.quarter' class='quarter' ng-change='changed()' ng-options='x.id as x.name for x in quarterOptions'></select>
        </p>
      </div>
    </div>
  </div>
  <div class='content-top'>
    <div class='top-left'>
      <div class='chart'>

        <div class='graph' wiserv-goal-quater quaterdata=targetExamRanks datemodel='datepick' ng-if="targetExamRanks != void(0)"></div>
      </div>
    </div>
    <div class='top-right'>
      <h4 class='title'>{{targetExamTotalRanks.year}}年第{{targetExamTotalRanks.quarter}}季度 目标任务考核总名次</h4>
      <table class="table  table-striped top10 table-hover text-center">
        <thead>
          <tr>
            <th>单位</th>
            <th>名次</th>
            <th></th>
          </tr>
        </thead>
        <tr ng-repeat='data in targetExamTotalRanks.data'>
          <td>{{data.area}}</td>
          <td ng-if='data.rank == 1' class='first'>{{data.rank}}</td>
          <td ng-if='data.rank == 2' class='second'>{{data.rank}}</td>
          <td ng-if='data.rank == 3' class='third'>{{data.rank}}</td>
          <td ng-if='data.rank != 1 && data.rank != 2 && data.rank != 3'>{{data.rank}}</td>
          <td ng-if='data.rank == 1'><img src='assets/images/target_1_1.png' alt='第一'/></td>
          <td ng-if='data.rank == 2'><img src='assets/images/target_1_2.png' alt='第二'/></td>
          <td ng-if='data.rank == 3'><img src='assets/images/target_1_3.png' alt='第三'/></td>
          <td ng-if='data.rank != 1 && data.rank != 2 && data.rank != 3'></td>
        </tr>

      </table>
    </div>
  </div>
  <div class='content-bottom'>
    <div class='label-icon'>
      <div class="media">
        <a class="media-left media-middle" href="#">
          <img src="assets/images/target_1_4.png" alt='加分'/>
          <p class='desc'>受到加分单位数</p>
        </a>
        <div class="media-body">
          <strong>{{awardedUnits.total}}</strong>
        </div>
      </div>
    </div>
    <div class='item-list'>
      <div class='item-list' id='awardedPlay' wiserv-award-play awarddata=awardedUnits.data ng-if='awardedUnits.data != void(0)'>

      </div>
    </div>
    <!-- <div class='next'>
      <a class='btn btn-primary'>下一条</a>
    </div> -->
  </div>
  <div class='content-bottom'>
    <div class='label-icon'>
      <div class="media">
        <a class="media-left media-middle" href="#">
          <img src="assets/images/target_1_5.png" alt='加分'/>
          <p class='desc'>受到扣分单位数</p>
        </a>
        <div class="media-body">
          <strong class='down'>{{penalUnits.total}}</strong>
        </div>
      </div>
    </div>
    <div class='item-list'>
      <div class='item-list' id='penalPlay' wiserv-penal-play penaldata=penalUnits.data ng-if='penalUnits.data != void(0)'></div>
    </div>
    <!-- <div class='next'>
      <a class='btn btn-primary'>下一页</a>
    </div> -->
  </div>
</div>
