.goal-year {
  @include flex-num(1);
  @include flex-flow(column);
  padding-bottom: 10px;
  padding-right: 1rem;
  position: relative;
  @include mobilescreen {
    padding: 0;
  }
  .right-top {
    position: absolute;
    right: 23px;
    top: -40px;
    @include mobilescreen {
      position: relative;
      right: 0;
      top: 0;
    }
  }
  .table-items {
    @include flex-flow(row);
    @include flex-num(5);
    &.items-down {
      @include flex-num(4);
    }
    &.table-items-pc {
      @include mobilescreen {
        display: none;
      }
    }
    &.table-items-touch {
      display: none;
      @include mobilescreen {
        @include flex-flow(row);
        margin-bottom: 15px;
        min-height: 420px;
      }
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
      background-color: rgba(156, 156, 156, 0.5);
    }
    .y-item {
      @include flex-num(1);
      margin-left: 5px;
      margin-right: 5px;
      border: 1px solid #DDD;
      padding: 8px 5px;
      @include mobilescreen {
        width: 80%;
        margin: 0 auto;
        height: 390px;
        overflow-y: auto;
        margin-bottom: 15px;
      }
      h5 {
        @include smallscreen {
          margin: 2px 0;
        }
      }
    }
    table {
      margin-bottom: 0;
      margin-top: 18px;
      @include smallscreen {
        margin-top: 12px;
      }
      thead {
        th {
          background: #DDD;
          text-align: center;
          color: #666666;
          font-size: 0.6rem;
          padding: 6px 8px;
          @include smallscreen {
            padding: 3px 8px;
          }
          @include mobilescreen {
            padding: 6px 4px;
            font-size: 0.8rem;
          }
          &:first-child {
            text-align: left;
            min-width: 40%;
          }
        }
      }
      tbody {
        tr {
          &:nth-of-type(even) {
            background: rgb(240,240,240);
          }
          &:nth-of-type(odd) {
            background: $white;
          }
          td {
            font-size: 0.6rem;
            border: 0;
            color: #666;
            padding: 6px 8px;
            @include smallscreen {
              padding: 3px 8px;
            }
            @include mobilescreen {
              padding: 6px 4px;
              font-size: 0.8rem;
            }
            &:first-child {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
