.goal-year {
  @include flex-num(1);
  @include flex-flow(column);
  padding-bottom: 10px;
  padding-right: 1rem;
  position: relative;
  .right-top {
    position: absolute;
    right: 23px;
    top: -40px;
  }
  .table-items {
    @include flex-flow(row);
    .y-item {
      @include flex-num(1);
      margin-left: 5px;
      margin-right: 5px;
      border: 1px solid #DDD;
      padding: 8px 5px;
      h5 {
        @include smallscreen {
          margin: 2px 0;
        }
      }
    }
    table {
      margin-bottom: 0;
      margin-top: 18px;
      @include smallscreen {
        margin-top: 12px;
      }
      thead {
        th {
          background: #DDD;
          text-align: center;
          color: #666666;
          font-size: 0.6rem;
          padding: 6px 8px;
          @include smallscreen {
            padding: 3px 8px;
          }
          &:first-child {
            text-align: left;
            min-width: 40%;
          }
        }
      }
      tbody {
        tr {
          &:nth-of-type(even) {
            background: rgb(240,240,240);
          }
          &:nth-of-type(odd) {
            background: $white;
          }
          td {
            font-size: 0.6rem;
            border: 0;
            color: #666;
            padding: 6px 8px;
            @include smallscreen {
              padding: 3px 8px;
            }
            &:first-child {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
