.header_img {
  box-shadow: 0 5px 20px rgba(3,3,3,.5);
  img {
    max-height: 240px;
  }
}
.bg_huise {
  background: #f0f3f4;
  height: 100%;
    display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height:520px;
}
.bg_white {
  background: #FFFFFF;
}
.body_nav {
  margin: 20px 0;
  -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  min-height: 0;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.cont-wrap {
  width:100%;
  -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
   display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  .cont-inner {
    -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}
.border-b {
  border-radius: 15px;
  -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  margin-right: 10px;
  background: white;
   display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  @include flex-align(center);
  @include flex-justify(center);
}
.body_nav .center {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #8C8C8C;
}
.body_nav .center:hover {
  text-decoration: none;
  color: #70e9fc;
}
.body_nav dl dd {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 12px;
  font-size: 1rem;
}
.padding_border:hover {
  background: #f0f3f4;
}
.auto_height {
  height: 100%;
   display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  @include flex-align(stretch);
}
.child {
 -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
   display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  @include flex-align(stretch);
  min-height: 120px;
  margin-bottom:10px;
  .fw-pic{
    background:url("../assets/images/home_ico.png") no-repeat 0 0;
    width:80px;
    height:80px;
  }
  .gy-pic{
    background:url("../assets/images/home_ico.png") no-repeat -80px 0;
    width:80px;
    height:80px;
  }
  .mb-pic{
    background:url("../assets/images/home_ico.png") no-repeat 0 -160px;
    width:80px;
    height:80px;
  }
  .qt-pic{
    background:url("../assets/images/home_ico.png") no-repeat -80px -160px;
    width:80px;
    height:80px;
  }
  .ly-pic{
    background:url("../assets/images/home_ico.png") no-repeat -80px -80px;
    width:80px;
    height:80px;
  }
  .jj-pic{
    background:url("../assets/images/home_ico.png") no-repeat 0 -80px;
    width:80px;
    height:80px;
  }
}
.back {
  margin-bottom: 10px;
  .btn-m-back {
    border-radius: 4px;
    font-size: 0.8rem;
    .fa-home {
      font-size: 1rem;
      vertical-align: text-bottom;
    }
  }
}
