<div class="bg_huise">
  <div class="header_img">
    <img src="assets/images/banner.jpg" class="img-responsive" width="100%"/>
  </div>
  <div class="body_nav">
    <div class="container cont-wrap" style="height:100%;">
      <div class="row auto_height cont-inner" >
        <div class="child ">
          <div class=" col-md-6 col-sm-6 col-xs-6  border-b  " style="padding: 0;">
            <a class="center" ui-sref='main({mid:home.menus[0].id})'>
              <dl style="margin-bottom: 0;">
                <dt class="hidden-xs"><img src="assets/images/gy.png" width="96px" height="96px"/></dt>
                <dt class="hidden-lg hidden-md hidden-sm"><img src="assets/images/gy.png" width="42%" height="42%"/></dt>
                <dd>{{home.menus[0].name}}</dd>
              </dl>
            </a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6  border-b " style="padding: 0;margin-right:0px">
            <a class="center" ui-sref='main({mid:home.menus[1].id})'>
              <dl style="margin-bottom: 0;">
                <dt class="hidden-xs"><img src="assets/images/fw.png" width="96px" height="96px"/></dt>
                <dt class="hidden-lg hidden-md hidden-sm"><img src="assets/images/fw.png" width="42%" height="42%"/></dt>
                <dd>{{home.menus[1].name}}</dd>
              </dl>
            </a>
          </div>
        </div>
        <div class="child ">
          <div class=" col-md-6 col-sm-6 col-xs-6  border-b  " style="padding: 0;">
            <a class="center" ui-sref='main({mid:home.menus[2].id})'>
              <dl style="margin-bottom: 0;">
                <dt class="hidden-xs"><img src="assets/images/qt.png" width="96px" height="96px"/></dt>
                <dt class="hidden-lg hidden-md hidden-sm"><img src="assets/images/qt.png" width="42%" height="42%"/></dt>
                <dd>{{home.menus[2].name}}</dd>
              </dl>
            </a>

          </div>
          <div class="col-md-6 col-sm-6 col-xs-6  border-b " style="padding: 0;margin-right:0px">
            <a class="center" ui-sref='main({mid:home.menus[3].id})'>
              <dl style="margin-bottom: 0;">
                <dt class="hidden-xs"><img src="assets/images/mb.png" width="96px" height="96px"/></dt>
                <dt class="hidden-lg hidden-md hidden-sm"><img src="assets/images/mb.png" width="42%" height="42%"/></dt>
                <dd>{{home.menus[3].name}}</dd>
              </dl>
            </a>
          </div>
        </div>
        <div class="child ">

          <div class=" col-md-6 col-sm-6 col-xs-6  border-b  " style="padding: 0;">
            <a class="center" ui-sref='main({mid:home.menus[4].id})'>
              <dl style="margin-bottom: 0;">
                <dt class="hidden-xs"><img src="assets/images/ly.png" width="96px" height="96px"/></dt>
                <dt class="hidden-lg hidden-md hidden-sm"><img src="assets/images/ly.png" width="42%" height="42%"/></dt>
                <dd>{{home.menus[4].name}}</dd>
              </dl>
            </a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6  border-b " style="padding: 0;margin-right:0px;">
            <a class="center" ui-sref='main({mid:home.menus[5].id})'>
              <dl style="margin-bottom: 0;">
                <dt class="hidden-xs"><img src="assets/images/jj.png" width="96px" height="96px"/></dt>
                <dt class="hidden-lg hidden-md hidden-sm"><img src="assets/images/jj.png" width="42%" height="42%"/></dt>
                <dd>{{home.menus[5].name}}</dd>
              </dl>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="back">
    <div class="container">
      <div class="row">
        <div class="col-xs-12" style="text-align: center;">
          <a ui-sref='main' class="btn btn-sm btn-info hidden-sm hidden-xl hidden-md btn-m-back">
            <i class="fa fa-home"></i>
            进入首页
          </a>
        </div>
      </div>
    </div>
  </div> -->
</div>
