.preview {
  @include flex-flow(row);
  @include flex-num(1);
  padding: 0 15px 20px 0;
  .wrap,
  .inner-wrap {
    @include flex-num(1);
    @include flex-flow(row);
  }
  .panel-heading {
    padding: 8px 15px;
  }
  .nav-menu {
    .menu-list {
      list-style: none;
      height: 100%;
      @include flex-flow(column);
      @include flex-align(stretch);
      li {
        display: block;
        color: $white;
        background: url("../assets/images/nav_bg.png") no-repeat center;
        background-size: 100% 100%;
        margin-top: 15px;
        @include flex-num(1);
        @include flex-flow(row);
        @include flex-align(center);
        @include flex-justify(center);
        a {
          padding: 0 20px;
          @include font($fontSize:1rem);
        }
      }
    }
  }
  .center {
    padding: 0 10px;
    @include flex-align(stretch);
    @include flex-num(4);
    @include flex-flow(column);
    .center-top {
      margin-bottom: 15px;
      border: 1px solid #DDD;
      @include flex-num(1);
    }
    .center-down {
      @include flex-num(1);
      @include flex-flow(row);
      >div {
        @include flex-num(1);
      }
      .center-left,
      .center-right {
        height: 100%;
        .chart {
          @include flex-num(1);
        }
      }
    }
  }
  .right {
    padding-top: 0;
    @include flex-flow(column);
    @include flex-align(stretch);
    @include flex-num(2);
    .right-bottom {
      margin-bottom: 0;
      @include flex-num(1);
      .chart {
        @include flex-num(1);
      }
    }
    .right-top {
      margin-bottom: 15px;
      @extend .right-bottom;
    }
  }
  .box-title {
    margin: 0;
    @include font($color:#000,$fontSize:0.7rem,$textAlign:left);
    line-height: 1.4;
  }
  .box-sub-title {
    padding: 0;
    color: #333;
    font-size: 0.5rem;
  }
}
.data-items {
  display: table;
  width: 100%;
  padding: 6px 10px;
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  .data-item {
    display: table-cell;
    vertical-align: bottom;
    padding: 0 2px;
    &.iname {
      width: 60%;
    }
    span {
      padding: 3px 6px;
      color: #FFF;
      border-radius: 4px;
      display: inline-block;
      width: 55%;
      text-align: center;
      min-width: 50px;
    }
    &.increase {
      span {
        background: #00b5a5;
      }
    }
    &.decrease {
      span {
        background: #f26370;
      }
    }
    label {
      margin: 0;
      padding: 2px 8px;
      border-radius: 4px;
      color: $white;
    }
  }
}
