<div class="eco_city left5 right5">
    <div class="eco_title">
        <ul>
            <li>
                <div class="pull-left border_r width_l">
                    <img src="assets\images\eco_01.png" class="img-responsive" width="50%" />
                </div>
                <div class="pull-right width_r">
                    <p class="font_color">{{indicatorFirst.current_quarter_achieved}}</p>
                    <p>地区生产总值(亿元)</p>
                </div>
            </li>
            <li>
                <div class="pull-left border_r width_l">
                    <img src="assets\images\eco_02.png" class="img-responsive" width="50%" />
                </div>
                <div class="pull-right width_r">
                    <p class="font_color2">{{indicatorFirst.current_quarter_actual_growth}}%</p>
                    <p>地区生产总值增速</p>
                </div>
            </li>
            <li style="margin-right:0px">
                <div class="pull-left border_r width_l">
                    <img src="assets\images\eco_03.png" class="img-responsive" width="50%" />
                </div>
                <div class="pull-right width_r">
                    <p class="font_color">{{indicatorFirst.current_quarter_achieved_rate}}%</p>
                    <p>GDP目标完成进度</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="eco_footer">
        <table class="table table-responsive table-bordered table-striped table-lg-screen" style="width:100%">
            <tr>
                <th>主要经济指标</th>
                <th>目标总值</th>
                <th>完成总量</th>
                <th>总量完成进度</th>
                <th>目标增速</th>
                <th>实际增速</th>
                <th>增速状态</th>
                <th>增速评价</th>
            </tr>
            <tr ng-repeat="indicatorData in indicatorDatas">
                <td>{{indicatorData.indicator_name}}</td>
                <td>{{indicatorData.yearly_target}}</td>
                <td>{{indicatorData.current_quarter_achieved}}</td>
                <td class="width20">
                    <uib-progressbar value=indicatorData.current_quarter_achieved_rate type="success" style="margin-bottom:0" ng-if="indicatorData.current_quarter_achieved_rate<=100">{{indicatorData.current_quarter_achieved_rate}}%</uib-progressbar>
                    <uib-progressbar value=indicatorData.current_quarter_achieved_rate type="warning" style="margin-bottom:0" ng-if="indicatorData.current_quarter_achieved_rate>100">{{indicatorData.current_quarter_achieved_rate}}%</uib-progressbar>
                </td>
                <td>{{indicatorData.yearly_target_growth}}%</td>
                <td>{{indicatorData.current_quarter_actual_growth}}%</td>
                <td>
                    <div class="yellow btn1" ng-if='indicatorData.growth_status.indexOf("-")>-1'>差{{-indicatorData.growth_status}}%</div>
                    <div class="blue btn1" ng-if='indicatorData.growth_status.indexOf("-")==-1'>超{{indicatorData.growth_status}}%</div>
                </td>
                <td class="font_blue" ng-if="indicatorData.schedule_evaluation=='正常'">{{indicatorData.schedule_evaluation}}</td>
                <td class="font_yellow" ng-if="indicatorData.schedule_evaluation=='滞后'">{{indicatorData.schedule_evaluation}}</td>
            </tr>
        </table>
        <table class="table table-responsive table-bordered table-striped table-mb-screen" style="width:100%">
            <tr>
                <th width='30%'>主要经济指标</th>
                <th width='55%'>进度</th>
                <th width='15%'>详情</th>
            </tr>
            <tr ng-repeat="indicatorData in indicatorDatas">
                <td>{{indicatorData.indicator_name}}</td>
                <td class="width20">
                    <uib-progressbar value=indicatorData.current_quarter_achieved_rate type="success" style="margin-bottom:0" ng-if="indicatorData.current_quarter_achieved_rate<=100">已完成{{indicatorData.current_quarter_achieved_rate}}%</uib-progressbar>
                    <uib-progressbar value=indicatorData.current_quarter_achieved_rate type="warning" style="margin-bottom:0" ng-if="indicatorData.current_quarter_achieved_rate>100">已完成{{indicatorData.current_quarter_achieved_rate}}%</uib-progressbar>
                </td>
                <td> <button uib-popover-html="" class="btn btn-default" ><i class='fa fa-info-circle'></i></button></td>
            </tr>
        </table>
    </div>
</div>
