<div class="project_city left5 right5">
    <div class='pull-right statistic'>
        <label>统计时间：</label>
        <div class='time-pick'>

            <p class="input-group">
                <input type="text" class="form-control input-time" uib-datepicker-popup="{{format}}" ng-model="dat" is-open="popup1.opened"
                    ng-required="true" close-text="关闭" clear-text="清空" current-text="今天" alt-input-formats="altInputFormats"
                />
                <span class="input-group-btn">
                     <button type="button" class="btn btn-default btn-time" ng-click="open1()">
                         <i class="glyphicon glyphicon-calendar"></i>
                         </button>
               </span>
                <select ng-model='popups[$index].quarter' class='quarter' ng-options='x.id as x.name for x in quarterOptions'></select>
            </p>

        </div>

    </div>
    <div class="eco_title" style="clear:both;">
        <ul>
            <li>
                <div class="pull-left border_r width_l">
                    <img src="assets\images\process_01.png" class="img-responsive" width="50%"  />
                </div>
                <div class="pull-right width_r">
                    <p class="font_color">98%</p>
                    <p>季度总投资完成进度</p>
                </div>
            </li>
           <li>
                <div class="pull-left border_r width_l">
                    <img src="assets\images\process_02.png" class="img-responsive" width="50%"  />
                </div>
                <div class="pull-right width_r">
                    <p class="font_color2">72%</p>
                    <p>全年总投资完成进度</p>
                </div>
            </li>
            <li style="margin-right:0px">
                <div class="pull-left border_r width_l">
                    <img src="assets\images\process_03.png" class="img-responsive" width="50%"  />
                </div>
                <div class="pull-right width_r">
                    <p class="font_color">5</p>
                    <p>进度滞后项目数</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="eco_footer">
        <table class="table table-responsive table-bordered table-striped" style="width:100%">
            
                <tr>
                    <th>批次 / 类别</th>
                    <th>年目标</th>
                    <th>季目标</th>
                    <th>投资进度完成比</th>
                    <th>季进度</th>
                    <th>滞后项目数</th>
                    <th>进度总评</th>
                </tr>
           
               
                    <tr>
                        <td>开工</td>
                        <td>93.1</td>
                        <td>30.2</td>
                        <td class="width20">
                             <uib-progressbar value="95" type="success" style="margin-bottom:0">95%</uib-progressbar>
                            <div class="statistic1">
                            <label>年进度</label>
                             <uib-progressbar class="in_block" value="87.3" type="info" style="margin-bottom:0"></uib-progressbar>
                             <span>87.3%</span>
                            </div>
                        </td>
                        <td>13.5</td>
                        <td>1</td>
                        <td class="font_yellow">滞后</td>
                    </tr>
                      <tr>
                        <td>续建</td>
                        <td>93.1</td>
                        <td>30.2</td>
                        <td class="width20">
                            <uib-progressbar value="102" type="success" style="margin-bottom:0">102%</uib-progressbar>
                            <div class="statistic1">
                            <label>年进度</label>
                             <uib-progressbar class="in_block" value="87.3" type="info" style="margin-bottom:0"></uib-progressbar>
                             <span>87.3%</span>
                            </div>
                        </td>
                        <td>13.5</td>
                        <td>1</td>
                        <td class="font_blue">正常</td>
                    </tr>
                      <tr>
                        <td>民生社会</td>
                        <td>93.1</td>
                        <td>30.2</td>
                        <td class="width20">
                           <uib-progressbar value="95" type="success" style="margin-bottom:0">95%</uib-progressbar>
                            <div class="statistic1">
                            <label>年进度</label>
                             <uib-progressbar class="in_block" value="87.3" type="info" style="margin-bottom:0"></uib-progressbar>
                             <span>87.3%</span>
                            </div>
                        </td>
                        <td>13.5</td>
                        <td>1</td>
                        <td class="font_blue">正常</td>
                    </tr>
                     <tr>
                        <td>产业发展</td>
                        <td>93.1</td>
                        <td>30.2</td>
                        <td class="width20">
                           <uib-progressbar value="95" type="success" style="margin-bottom:0">95%</uib-progressbar>
                            <div class="statistic1">
                            <label>年进度</label>
                             <uib-progressbar class="in_block" value="87.3" type="info" style="margin-bottom:0"></uib-progressbar>
                             <span>87.3%</span>
                            </div>
                        </td>
                        <td>13.5</td>
                        <td>1</td>
                        <td class="font_blue">正常</td>
                    </tr>
                     <tr>
                        <td>基础设施</td>
                        <td>93.1</td>
                        <td>30.2</td>
                        <td class="width20">
                            <uib-progressbar value="95" type="success" style="margin-bottom:0">95%</uib-progressbar>
                            <div class="statistic1">
                            <label>年进度</label>
                             <uib-progressbar class="in_block" value="87.3" type="info" style="margin-bottom:0"></uib-progressbar>
                             <span>87.3%</span>
                            </div>
                        </td>
                        <td>13.5</td>
                        <td>1</td>
                        <td class="font_blue">正常</td>
                    </tr>
                     <tr>
                        <td>全市整体</td>
                        <td>3122</td>
                        <td>134</td>
                        <td class="width20">
                           <uib-progressbar value="95" type="success" style="margin-bottom:0">95%</uib-progressbar>
                            <div class="statistic1">
                            <label>年进度</label>
                             <uib-progressbar class="in_block" value="87.3" type="info" style="margin-bottom:0"></uib-progressbar>
                             <span>87.3%</span>
                            </div>
                        </td>
                        <td>13.5</td>
                        <td>5</td>
                        <td class="font_blue">正常</td>
                    </tr>
        </table>
    </div>
</div>