.profile {
  width: 100%;
  height: 100%;
  padding: 24px 35px 35px;
  // background: $dashboard_bg;
  background: url("../assets/images/bg_profile.png");
  background-size: 100% 102% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  .chart {
    padding: 4px;
    @include flex-num(1);
    @include flex-flow(column);
  }
  .outer-line {
    height: 100%;
    // border: 1px solid $outerline;
    padding: 4px;
    .inner-line {
      height: 100%;
      //border: 1px solid $innerline;
      @include flex-flow(column);
      .header {
        cursor: pointer;
        h3 {
          background: url("../assets/images/header.png") no-repeat center;
          height: 50px;
          margin-top: 0;
          margin-bottom: 0;
          background-size: auto 100%;
          @media (min-width: #{$desktop-width}) {
            margin-top: 10px;
          }
        }
      }
      .main {
        @include flex-flow(row);
        @include flex-num(1);
        .wrap,
        .inner-wrap {
          &.menu {
            padding: 3rem 0 2rem;
            // @include bigscreen {
            //   padding: 2rem 0;
            // }
          }
          @include flex-num(1);
          @include flex-flow(row);
        }
        padding: 0 15px 20px;
        @include bigscreen {
          padding: 0 1.2rem 20px;
        }
        .nav-menu {
          .menu-list {
            list-style: none;
            height: 100%;
            @include flex-flow(column);
            @include flex-align(stretch);
            li {
              display: block;
              color: $white;
              background: url("../assets/images/nav_bg.png") no-repeat center;
              background-size: 100% 100%;
              margin-top: 15px;
              @include flex-num(1);
              @include flex-flow(row);
              @include flex-align(center);
              @include flex-justify(center);
              &.active {
                background: url("../assets/images/nav_bg_active.png") no-repeat center;
              }
              a {
                padding: 0 20px;
                text-decoration: none;
                @include font($fontSize:1rem);
              }
            }
          }
        }
      }
    }
  }
}
