<div class='profile'>
  <div class='outer-line'>
    <div class='inner-line'>
      <div class='header' ui-sref='main({mid:profile.menus[1].id,typeid:profile.menus[1].type,murl:profile.menus[1].url})' ui-sref-opts='{reload: main}'>
        <h3></h3>
      </div>
      <div class='main'>
        <nav class='nav-menu'>
          <ul class='menu-list'>
            <li ng-repeat='menu in profile.menus' ui-sref-active="active">
              <!-- <a ui-sref='main({mid:menu.id,typeid:menu.type,murl:menu.url})' ui-sref-opts='{reload: main}'>{{menu.name}}</a> -->
              <a ng-if='menu.id == 8' ui-sref='profile.menu' ui-sref-opts="{reload:'profile.menu'}">{{menu.name}}</a>
              <a ng-if='menu.id != 8' ui-sref='profile.eco({proid:menu.id})' ui-sref-opts="{reload:'profile.eco'}">{{menu.name}}</a>
              <!-- <a ui-sref='profile.menu' ui-sref-opts='{reload: profile.menu}'>{{menu.name}}</a> -->
            </li>
          </ul>
        </nav>
        <div ui-view class='wrap'></div>
      </div>
    </div>
  </div>
</div>
