.goal-progress{
  @include flex-num(1);
  @include flex-flow(row);
  padding-bottom: 10px;
  padding-right: 1rem;
  min-height: 0;
  position: relative;
  .right-top {
    position: absolute;
    right: 23px;
    top: -40px;
  }
}
