<div ng-repeat='item in industry.indstcontent  track by $index' ng-class="{'wrap':  $index == 0 }" class='industry'>
  <div ng-if='$index == 0' class='inner-wrap'>
    <div class='industry-main'>
      <div class='top-box'>
        <div class='left15 right5'>
          <div class='box'>
            <span class='box-left-top'></span>
            <span class='box-left-bottom'></span>
            <span class='box-right-top'></span>
            <span class='box-right-bottom'></span>
            <div class='top-wrap'>
              <div class='pull-left'>
                <h5 class='box-title'>{{indstlist[0].title}}</h5>
              </div>
              <div class='pull-right box-sub-title'>来源{{indstlist[0].dep_name}}</div>
            </div>
            <div class='chart' indst-chart-reg regcontent=indstlist[0] ></div>
          </div>
        </div>
        <div class='right5 left5'>
          <div class='box left-invest'>
            <span class='box-left-top'></span>
            <span class='box-left-bottom'></span>
            <span class='box-right-top'></span>
            <span class='box-right-bottom'></span>
            <div class='top-wrap '>
              <div class='pull-left'>
                <h5 class='box-title'>{{indstlist[1].title}}</h5>
              </div>
              <div class='pull-right box-sub-title'>来源{{indstlist[1].dep_name}}</div>
            </div>
            <div class='chart' indst-chart-invest invstcontent=indstlist[1] ></div>
          </div>
        </div>
        <div class='right15 left5'>
          <div class='box right-table'>
            <span class='box-left-top'></span>
            <span class='box-left-bottom'></span>
            <span class='box-right-top'></span>
            <span class='box-right-bottom'></span>
            <div class='top-wrap'>
              <div class='pull-left'>
                <h5 class='box-title'>规上工业经济效益</h5>
              </div>
            </div>
            <div class='datalist'>
              <div class='mdata-items'>
                <div class='data-item iname' style='font-weight:bold'>{{industry.industryData.init_query_time}}数据</div>
                <div class='data-item' style='width: 23%;padding: 0 6px;' ng-repeat='colname in industry.industryData.columnName'>{{colname}}</div>
              </div>
              <div class='mdata-items' ng-repeat='edata in industry.industryData.rowData'>
                <div class='data-item iname'>{{edata.rowName}}</div>
                <div class='data-item' style='width: 23%;' ng-repeat='data in edata.rowValue track by $index' title='{{data.value}}' ng-class="{true: 'decrease', false: 'increase'}[data.value.indexOf('-')>-1]"><span ng-if='data.value == ""'>-</span><span ng-if='data.value != ""'>{{data.value}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='down-box'>
        <div class='left15 right5'>
          <div class='center-left box'>
            <span class='box-left-top'></span>
            <span class='box-left-bottom'></span>
            <span class='box-right-top'></span>
            <span class='box-right-bottom'></span>
            <div class='top-wrap'>
              <div class='pull-left'>
                <h5 class='box-title'>{{indstlist[3].title}}</h5>
              </div>
              <div class='pull-right box-sub-title'>{{indstlist[3].model | date:"M月"}}数据：来源{{indstlist[3].dep_name}}</div>
            </div>
            <div class='chart'  indst-chart-pro  procontent=indstlist[3]></div>
          </div>
        </div>
        <div class='right5 left5'>
          <div class='center-right box'>
            <span class='box-left-top'></span>
            <span class='box-left-bottom'></span>
            <span class='box-right-top'></span>
            <span class='box-right-bottom'></span>
            <div class='top-wrap'>
              <div class='pull-left'>
                <h5 class='box-title'>{{indstlist[4].title}}</h5>
              </div>
              <div class='pull-right box-sub-title'>来源{{indstlist[4].dep_name}}</div>
            </div>
            <div class='chart' indst-chart-elec eleccontent=indstlist[4] ></div>
          </div>
        </div>
        <div class='right15 left5'>
          <div class='center-right box'>
            <span class='box-left-top'></span>
            <span class='box-left-bottom'></span>
            <span class='box-right-top'></span>
            <span class='box-right-bottom'></span>
            <div class='top-wrap'>
              <div class='pull-left'>
                <h5 class='box-title'>{{indstlist[5].title}}</h5>
              </div>
              <div class='pull-right box-sub-title'>{{indstlist[5].model | date:"M月"}}数据：来源{{indstlist[5].dep_name}}</div>
            </div>
            <div class='chart' indst-chart-eco ecocontent=indstlist[5]></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
