.spot {
  @include flex-num(1);
  @include flex-flow(column);
  .spot-main {
    padding: 10px 0 0 15px;
    @include flex-align(stretch);
    @include flex-num(5);
    @include flex-flow(column);
    @include smallscreen {
      @include flex-num(4);
      .box-title {
        padding: 14px 10px 12px 2px;
      }
    }
    .s-mlist {
      overflow: hidden;
      list-style: none;
      border-bottom: 1px solid rgba(0, 120, 255, .8);
      @include flex-flow(row);
      li {
        @include flex-num(1);
        padding: 1rem 0 0.4rem;
        font-size: 1.1rem;
        color: #a2a2a2;
        margin: 0 1.8rem;
        cursor: pointer;
        &.active {
          border-bottom: 3px solid rgb(5, 150, 231);
          .s-m-name {
            color: #FFF;
          }
        }
        &.inactive {
          border-bottom: none;
          .s-m-name {
            color: #f7f7f7;
          }
        }
        .s-m-name {
          text-align: center;
        }
        .s-m-star {
          text-align: center;
          .fa-star {
            color: #1b94ff;
            padding: 4px;
            font-size: 0.8rem;
          }
          &.num_1 {
            .fa-star {
              &:nth-child(3),
              &:nth-child(2) {
                color: #004fce;
              }
            }
          }
          &.num_2 {
            .fa-star {
              &:nth-child(3) {
                color: #004fce;
              }
            }
          }
        }
      }
    }
    .menu-content {
      @include flex-num(1);
      @include flex-flow(column);
      .s-title {
        color: #FFF;
        padding: 1rem 0;
        position: relative;
        .statistic {
          position: absolute;
          right: 2rem;
          top: 2.4rem;
          .time-pick {
            display: inline-block;
            width: 220px;
            position: relative;
          }
          .input-time {
            background: transparent;
            border: 1px solid rgba(0, 120, 255, 0.8);
            height: 28px;
            color: #cdd0d7;
          }
          .select-wrapper {
            position: absolute;
            top: 0;
            left: 130px;
          }
          .select-group {
            position: absolute;
            top: -34px;
            .quarter {
              max-width: 200px;
              height: 28px;
            }
            .bootstrap-select .dropdown-menu {
              background-color: rgba(3, 113, 199, 0.66);
            }
          }
          .selectpicker {
            background: transparent;
            color: #cdd0d7;
            border: none;
            &.btn {
              padding: 0 25px 0 12px;
              height: 100%;
              outline: 0 !important;
            }
          }
          .bootstrap-select {
            .dropdown-menu {
              background-color: transparent;
              border-color: rgba(0, 120, 255, 0.8);
              li {
                a {
                  color: #cdd0d7;
                  background: rgba(33, 150, 243, 0.46);
                  &:hover,
                  &:focus {
                    background-color: #077cda;
                    color: #FFF;
                  }
                }
                &.selected{
                  a{
                    background: #077cda;
                    color: #FFF;
                  }
                }
              }
            }
          }
          .quarter {
            border: 1px solid rgba(0, 120, 255, 0.8);
            bottom: 0;
            height: 28px;
            max-width: 100px;
          }
          .btn-time,
          select {
            background: transparent;
            color: #2196F3;
            border: 1px solid rgba(0, 120, 255, 0.8);
          }
          .btn-time {
            font-size: 0.8rem;
            height: 28px;
            width: 28px;
          }
          select {
            option {
              background: transparent;
            }
          }
          .uib-datepicker-popup.dropdown-menu {
            background-color: rgba(9, 90, 187, 0.86);
            table.uib-yearpicker {
              outline: none;
              td,
              th {
                border: 1px solid;
                border-color: rgba(0, 143, 250, 0.23);
              }
            }
            .uib-datepicker .btn-default {
              background: transparent;
              border: none;
              color: #cdd0d7;
            }
          }
        }
        .title {
          font-size: 1.3rem;
        }
        .s-m-tab {
          padding-top: 20px;
          list-style: none;
          overflow: hidden;
          width: 38%;
          margin: 0 auto;
          @include flex-flow(row);
          li {
            @include flex-num(1);
            text-align: center;
            font-size: 0.8rem;
            padding: 6px;
            border: 1px solid rgba(0, 120, 255, 0.8);
            cursor: pointer;
            &.active {
              background: rgba(0, 120, 255, 0.4);
            }
            &.inactive {
              background: none;
            }
            img {
              vertical-align: top;
            }
          }
        }
      }
      .s-chart {
        @include flex-num(1);
        @include flex-flow(row);
        padding: 0.8rem 1.5rem;
        .chart-wrap {
          @include flex-num(1);
          @include flex-flow(column);
          margin: 0 2rem;
          border: 1px solid rgba(0, 120, 255, 0.8);
          .chart-title {
            color: #FFF;
            background: rgba(9, 76, 155, 1);
            border-bottom: 1px solid rgba(0, 120, 255, 0.5);
            /*@include flex-num(2);*/
            height: 110px;
            @include flex-flow(column);
            -webkit-align-items: stretch;
            align-items: stretch;
            @include smallscreen {
              height:90px;
            }
            &.c-left {
              @include flex-flow(row);
              .title-left {
                @include flex-num(1);
                @include flex-flow(column);
                border-right: 1px solid rgba(0, 120, 255, 0.5);
                p {
                  font-size: 1rem;
                  margin: 0;
                  padding: 15px 0 20px;
                  @include flex-num(2);
                }
              }
              .title-right {
                @include flex-num(2);
                @include flex-flow(column);
                padding: 0.8rem 0.2rem 0.8rem 1rem;
                .compare {
                  @include flex-num(1);
                  @include flex-flow(row);
                  -webkit-align-items: center;
                  align-items: center;
                  color: #eaeaea;
                  label,
                  .c-num {
                    @include flex-num(7);
                    text-align: left;
                    font-size: 0.8rem;
                    margin: 0;
                  }
                  .c-num {
                    color: #eaeaea;
                    text-align: left;
                    @include flex-num(5);
                    .higher {
                      color: rgb(8, 220, 60);
                    }
                    .equal {
                      color: rgb(204, 165, 25);
                    }
                    .lower {
                      color: rgb(217, 51, 99);
                    }
                    &.rank {
                      color: rgb(0, 254, 248);
                    }
                  }
                }
              }
            }
            h3 {
              margin: 0;
              padding: 20px 0 0;
              @include flex-num(3);
              @include flex-flow(row);
              -webkit-align-items: center;
              align-items: center;
              -webkit-justify-content: center;
              justify-content: center;
              font-size: 1rem;
              strong {
                padding: 0 10px;
                font-size: 1.8rem;
                font-weight: normal;
                color: rgb(8, 220, 60);
              }
            }
            h4 {
              margin: 0;
              padding: 15px 0 20px;
              color: #eaeaea;
              font-size: 0.8rem;
              @include flex-num(2);
              strong {
                padding: 0 10px;
                font-size: 1rem;
                font-weight: normal;
                color: rgb(8, 220, 60);
              }
            }
          }
          .rank {
            h3,
            h4 {
              strong {
                color: rgb(0, 254, 248);
              }
            }
          }
          .target {
            h3,
            h4 {
              strong {
                color: #f6e243;
              }
            }
          }
          .graph-wrap {
            @include flex-num(3);
            background: rgba(0, 120, 215, 0.1);
            &.double-chart {
              @include flex-flow(row);
              padding-bottom: 1.4rem;
              >div {
                @include flex-num(1);
              }
            }
          }
        }
        .rank-down {
          background: url("../assets/images/rank_down.png") no-repeat left;
          display: inline-block;
          color: rgb(208, 48, 63);
          margin-left: 0;
          .rank-num {
            padding-left: 24px;
          }
        }
        .rank-up {
          background: url("../assets/images/rank_up.png") no-repeat left;
          display: inline-block;
          color: #19b661;
          margin-left: 0;
          .rank-num {
            padding-left: 24px;
          }
        }
      }
      .s-from {
        padding: 1rem 0;
        ul {
          color: #eaeaea;
          font-size: 0.7rem;
          padding: 0 30px;
          li {
            float: left;
            padding-right: 46px;
          }
        }
      }
    }
  }
}
