<div class='spot'>
  <div class='spot-main'>
    <div class='box'>
      <span class='box-left-top'></span>
      <span class='box-left-bottom'></span>
      <span class='box-right-top'></span>
      <span class='box-right-bottom'></span>
      <div class='s-nav-menu'>
        <ul class='s-mlist'>
          <li class='s-m-item' ng-click='tabMenu($index)' ng-class="{true: 'active', false: 'inactive'}[menuactive == $index]" ng-repeat='menu in menus'>
            <div class='s-m-name'>{{menu.name}}</div>
            <div class='s-m-star num_{{menu.star}}'>
              <i class='fa fa-star'></i>
              <i class='fa fa-star'></i>
              <i class='fa fa-star'></i>
            </div>
          </li>
        </ul>
      </div>
      <div class='menu-content'>
        <div class='s-title'>
          <h4 class='text-center title'>巴中市地区生产总值（GDP）</h4>
          <ul class='s-m-tab'>
            <li ng-class="{true: 'active', false: 'inactive'}[isActive == 1]" ng-click='showChart(1)'><img src='assets/images/spot_chart.png' alt='increase' />增长</li>
            <li ng-class="{true: 'active', false: 'inactive'}[isActive == 2]" ng-click='showChart(2)'><img src='assets/images/spot_bmk.png' alt='rank'  />排位</li>
            <li ng-class="{true: 'active', false: 'inactive'}[isActive == 3]" ng-click='showChart(3)'><img src='assets/images/spot_flag.png' alt='target' />目标</li>
          </ul>
          <div class='statistic'>
            <div class='time-pick'>
              <p class="input-group">
                <input type="text" ng-change='changed()' readonly class="form-control input-time" uib-datepicker-popup="{{datepick.format}}" popup-placement='bottom' ng-model="datepick.model" is-open="datepick.opened" datepicker-options="datepick.dateOptions" ng-required="true" clear-text="清除" current-text='' close-text='关闭' alt-input-formats="altInputFormats"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-time" ng-click="open()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
                <select selectpicker ng-model='quarter' ng-change='quarterChanged()' ng-show='!byMonth' class='quarter'  ng-options='x.id as x.name for x in quarterOptions'></select>
                <select selectpicker ng-model='month' ng-show='byMonth' ng-change='monthChanged()' class='quarter'  ng-options='x.id as x.name for x in monthOptions'></select>
              </p>
            </div>
          </div>
        </div>
        <div class='s-chart' ng-show='isActive == 1'>
          <div class='chart-wrap'>
            <div class='chart-title'>
              <h3 class='text-center'>总产值<strong>364.5</strong>亿元</h3>
              <h4 class='text-center'>总体同比去年增加 27.37 亿元</strong></h4>
            </div>
            <div class='graph-wrap' chart-increase-rate>
            </div>
          </div>
          <div class='chart-wrap'>
            <div class='chart-title c-left'>
              <div class='title-left'>
                <h3 class='text-center'>
                  <strong>7.5%</strong>
                </h3>
                <p class='text-center'>同比增速</p>
              </div>
              <div class='title-right'>
                <div class='compare'><label>与全国比</label><div class='c-num'><span class='higher'>高</span>&nbsp;&nbsp;0.80%</div></div>
                <div class='compare'><label>与全省比</label><div class='c-num'><span class='equal'>持平</span></div></div>
                <div class='compare'><label>与巴中上年同期比</label><div class='c-num'><span class='lower'>低</span>&nbsp;&nbsp;1.80%</div></div>
              </div>
            </div>
            <div class='graph-wrap' chart-increase-rate></div>
          </div>
        </div>
        <div class='s-chart' ng-show='isActive == 2'>
          <div class='chart-wrap'>
            <div class='chart-title rank'>
              <h3 class='text-center'>总产值<strong>364.5</strong>亿元</h3>
              <h4 class='text-center'>川东北经济区排位 <strong>第&nbsp;5&nbsp;名</strong>&nbsp;&nbsp;<span class='rank-down'><span class='rank-num'>1</span></span></h4>
            </div>
            <div class='graph-wrap' chart-rank-total rankdata=rankdata  ng-if="rankdata != void(0)">
            </div>
          </div>
          <div class='chart-wrap'>
            <div class='chart-title c-left'>
              <div class='title-left rank'>
                <h3 class='text-center'>
                  <strong>7.5%</strong>
                </h3>
                <p class='text-center'>同比增速</p>
              </div>
              <div class='title-right'>
                <div class='compare'><label>川东北经济区排位</label><div class='c-num rank'>第&nbsp;&nbsp;4&nbsp;&nbsp;名&nbsp;&nbsp;<span class='rank-up'><span class='rank-num'>1</span></span></div></div>
                <div class='compare'><label>四川省排位</label><div class='c-num rank'>第&nbsp;&nbsp;12&nbsp;&nbsp;名<span class='rank-up'><span class='rank-num'>4</span></div></div>
              </div>
            </div>
            <div class='graph-wrap' chart-rank-rate rankrate=rankrate  ng-if="rankrate != void(0)"></div>
          </div>
        </div>
        <div class='s-chart' ng-show='isActive == 3'>
          <div class='chart-wrap'>
            <div class='chart-title target'>
              <h3 class='text-center'>总产值<strong>364.5</strong>亿元</h3>
              <h4 class='text-center'>占2016年目标<strong>70%</strong>&nbsp;&nbsp;占2020年的<strong>40%</strong></h4>
            </div>
            <div class='graph-wrap double-chart'>
              <div chart-target-goal targetgoaldata=targetcrt ng-if="targetcrt != void(0)"></div>
              <div chart-target-goal targetgoaldata=targetgoal ng-if="targetgoal != void(0)"></div>
            </div>
          </div>
          <div class='chart-wrap'>
            <div class='chart-title c-left'>
              <div class='title-left target'>
                <h3 class='text-center'>
                  <strong>7.5%</strong>
                </h3>
                <p class='text-center'>同比增速</p>
              </div>
              <div class='title-right'>
                <div class='compare'><label>与2016年目标比</label><div class='c-num'><span class='higher'>高</span>&nbsp;&nbsp;0.80%</div></div>
                <div class='compare'><label>与"十三五"巴中目标比</label><div class='c-num'><span class='equal'>持平</span></div></div>
                <div class='compare'><label>与"十三五川东北目标"比</label><div class='c-num'><span class='lower'>低</span>&nbsp;&nbsp;1.80%</div></div>
              </div>
            </div>
            <div class='graph-wrap' chart-target-rate targetratedata=targetrate ng-if="targetrate != void(0)"></div>
          </div>
        </div>
        <div class='s-from'>
          <p>数据来自统计部门  对比数据为去年同期数据</p>
        </div>
      </div>
    </div>
  </div>

</div>
