<div class='spot'>
  <div class='spot-main'>
    <div class='box'>
      <span class='box-left-top'></span>
      <span class='box-left-bottom'></span>
      <span class='box-right-top'></span>
      <span class='box-right-bottom'></span>
      <div class='s-nav-menu'>
        <ul class='s-mlist'>
          <li class='s-m-item' ng-click='tabMenu($index,menu.id,menu.type)' ng-class="{true: 'active', false: 'inactive'}[menuactive == $index]" ng-repeat='menu in menus'>
            <div class='s-m-name'>{{menu.name}}</div>
            <div class='s-m-star num_{{menu.star}}'>
              <i class='fa fa-star'></i>
              <i class='fa fa-star'></i>
              <i class='fa fa-star'></i>
            </div>
          </li>
        </ul>
      </div>
      <div class='menu-content'>
        <div class='s-title'>
          <h4 class='text-center title'>&nbsp;{{commondata.title}}&nbsp;</h4>
          <ul class='s-m-tab' ng-show='submenus != null'>
            <li  ng-repeat='item in submenus'  ng-class="{true: 'active', false: 'inactive'}[isActive == $index+1]" ng-click='showChart($index+1,item.id)'>
              <img ng-if='item.name=="增长" ' src='assets/images/spot_chart.png' alt='increase'/>
              <img ng-if='item.name=="排位" ' src='assets/images/spot_bmk.png' alt='rank'/>
              <img ng-if='item.name=="目标" ' src='assets/images/spot_flag.png' alt='rank'/>
              {{item.name}}
            </li>
          </ul>
          <div class='statistic'>
            <div class='time-pick'>
              <p class="input-group">
                <input type="text" ng-change='changed()' readonly class="form-control input-time" uib-datepicker-popup="{{dateOptions.format}}" popup-placement='bottom' ng-model="commondata.model" is-open="dateOptions.opened" datepicker-options="dateOptions" ng-required="true" clear-text="清除" current-text='' close-text='关闭' alt-input-formats="altInputFormats"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-time" ng-click="open()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
                <div class='select-group' ng-if='hasGroup' ng-if="groupOptions != void(0) && groupOptions[0].groupId != void(0) "><select  selectpicker ng-model='$parent.group' ng-change='groupChanged()' data-none-selected-text='未选中任何选项' class='quarter' ng-options='x.groupId as x.groupName for x in groupOptions track by x.groupId'></select></div>
                <div class='select-wrapper' ng-if=!commondata.byMonth><select selectpicker ng-model='commondata.quarter' ng-change='quarterChanged()' class='quarter' ng-options='x.id as x.name for x in quarterOptions' data-none-selected-text='未选中任何选项'></select></div>
                <div class='select-wrapper' ng-if=commondata.byMonth><select selectpicker ng-model='commondata.month'  ng-change='monthChanged()' class='quarter' ng-options='x.id as x.name for x in monthOptions' data-none-selected-text='未选中任何选项'></select></div>
              </p>
            </div>
          </div>
        </div>
        <div class='s-chart' ng-show='isActive == 1'>
          <div class='chart-wrap'>
            <div class='chart-title' ng-show='submenus.length == 3'>
              <h3 class='text-center' ng-show='commondata.totalAmount'>{{commondata.totalTitle}}
                <strong>{{commondata.totalAmount}}</strong>{{commondata.totalUnit}}</h3>
                <h3 class='text-center' ng-show='!commondata.totalAmount'>{{commondata.totalTitle}}
                  <strong>--</strong>{{commondata.totalUnit}}</h3>
              <h4 class='text-center' ng-show='commondata.totalAmount'>比上年同期{{commondata.floatDesc}}
                {{commondata.floatNum|toPositive}}
                {{commondata.totalUnit}}</strong>
            </h4>
          </div>
          <div class='chart-title  c-left' ng-show='submenus == null'>
            <div class='title-left'>
              <h3 class='text-center'>
                <strong>{{commondata.totalAmount!=''?commondata.totalAmount:'--'}}{{commondata.totalUnit}}</strong>
              </h3>
              <p class='text-center'>环比指数</p>
            </div>
            <div class='title-right'>
              <div class='compare'>
                <label>居民消费价格环比</label>
                <div class='c-num'>
                  <span ng-if='commondata.totalAmount == "" '></span>
                  <span class='higher' ng-if='commondata.totalAmount != "" && 100 < commondata.totalAmount'>上涨</span>
                  <span class='equal' ng-if='commondata.totalAmount != "" && 100 == commondata.totalAmount'>持平</span>
                  <span class='lower' ng-if='commondata.totalAmount != "" && 100 > commondata.totalAmount'>下降</span>
                  &nbsp;&nbsp;{{commondata.totalAmount == "" ? '--' :((commondata.totalAmount-100).toFixed(2) | toPositive)}}{{commondata.totalUnit}}</div>
              </div>
              <div class='compare' ng-repeat='item in commondata.othertotal'>
                <label>与{{item.name}}比</label>
                <div class='c-num'>
                  <span ng-if='item.value == "" '></span>
                  <span class='higher' ng-if='(item.value != "" && commondata.totalAmount != "") && (item.value - commondata.totalAmount<0)'>高</span>
                  <span class='equal' ng-if='(item.value != "" && commondata.totalAmount != "") && item.value == commondata.totalAmount'>持平</span>
                  <span class='lower' ng-if='(item.value != "" && commondata.totalAmount != "") && (item.value - commondata.totalAmount>0)'>低</span>
                  &nbsp;&nbsp;{{(item.value == "" || commondata.totalAmount == "")? '--':((commondata.totalAmount-item.value).toFixed(2) | toPositive)}}{{commondata.totalUnit}}</div>
              </div>
            </div>
        </div>
          <div class='graph-wrap' chart-increase-total increasetotal=increasedata[0] commoninfo=commondata ng-if="increasedata[0] != void(0)"></div>
        </div>
        <div class='chart-wrap'>
          <div class='chart-title c-left'  ng-show='submenus.length == 3'>
            <div class='title-left'>
              <h3 class='text-center'>
                <strong>{{commondata.rateTotal?commondata.rateTotal:'--'}}{{commondata.rateUnit}}</strong>
              </h3>
              <p class='text-center'>同比增速</p>
            </div>
            <div class='title-right'>
              <div class='compare' ng-repeat='item in commondata.otherrate'>
                <label>与{{item.name}}比</label>
                <div class='c-num'>
                  <span ng-if='(item.value == "") '>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <span class='higher' ng-if='(item.value != "" && commondata.rateTotal != "") && (item.value -commondata.rateTotal<0)'>高</span>
                  <span class='equal' ng-if='(item.value != "" && commondata.rateTotal != "") && item.value == commondata.rateTotal'>持平</span>
                  <span class='lower' ng-if='(item.value != "" && commondata.rateTotal != "") && (item.value - commondata.rateTotal>0)'>低</span>
                  &nbsp;&nbsp;{{(item.value == '' || commondata.rateTotal == "") ? '--':((commondata.rateTotal-item.value).toFixed(2) | toPositive)}}{{commondata.rateUnit}}</div>
              </div>
            </div>
          </div>
          <div class='chart-title c-left'  ng-show='submenus == null'>
            <div class='title-left'>
              <h3 class='text-center'>
                <strong>{{commondata.rateTotal?commondata.rateTotal:'--'}}{{commondata.rateUnit}}</strong>
              </h3>
              <p class='text-center'>同比指数</p>
            </div>
            <div class='title-right'>
              <div class='compare'>
                <label>居民消费价格同比</label>
                <div class='c-num'>
                  <span ng-if='commondata.rateTotal == "" '></span>
                  <span class='higher' ng-if='commondata.rateTotal != "" && (100 -commondata.rateTotal<0)'>上涨</span>
                  <span class='equal' ng-if='commondata.rateTotal != "" && 100 == commondata.rateTotal'>持平</span>
                  <span class='lower' ng-if='commondata.rateTotal != "" && (100 - commondata.rateTotal>0)'>下降</span>
                  &nbsp;&nbsp;{{commondata.rateTotal == "" ?'--':((commondata.rateTotal-100).toFixed(2) | toPositive)}}{{commondata.rateUnit}}</div>
              </div>
              <div class='compare' ng-repeat='item in commondata.otherrate'>
                <label>与{{item.name}}比</label>
                <div class='c-num'>
                  <span ng-if='item.value == "" '></span>
                  <span class='higher' ng-if='(item.value != "" && commondata.rateTotal != "") && (item.value - commondata.rateTotal<0)'>高</span>
                  <span class='equal' ng-if='(item.value != "" && commondata.rateTotal != "") && item.value == commondata.rateTotal'>持平</span>
                  <span class='lower' ng-if='(item.value != "" && commondata.rateTotal != "") && (item.value - commondata.rateTotal>0)'>低</span>
                  &nbsp;&nbsp;{{(item.value == "" || commondata.rateTotal == "")?'--':((commondata.rateTotal-item.value).toFixed(2) | toPositive)}}{{commondata.rateUnit}}</div>
              </div>
            </div>
          </div>
          <div class='graph-wrap' chart-increase-rate increaserate=increasedata[1] commoninfo=commondata ng-if="increasedata[1] != void(0)"></div>
        </div>
      </div>
      <div class='s-chart' ng-show='isActive == 2'>
        <div class='chart-wrap'>
          <div class='chart-title rank'>
            <h3 class='text-center' ng-show='commondata.totalAmount'>{{commondata.totalTitle}}
              <strong>{{commondata.totalAmount!=''?commondata.totalAmount:'--'}}</strong>{{commondata.totalUnit}}</h3>
              <h3 class='text-center' ng-show='!commondata.totalAmount'>{{commondata.totalTitle}}
                <strong>--</strong>{{commondata.totalUnit}}</h3>
            <h4 class='text-center' ng-repeat='data in commondata.rankdetail'>{{data.name}}
              <strong>第&nbsp;{{data.value?data.value:'--'}}&nbsp;位</strong>&nbsp;&nbsp;
              <span ng-if="data.floatValue < 0" class='rank-up'>
                <span class='rank-num'>{{data.floatValue | toPositive}}位</span>
              </span>
              <span ng-if="data.floatValue > 0" class='rank-down'>
                <span class='rank-num'>{{data.floatValue}}位</span>
              </span>
            </h4>
          </div>
          <div class='graph-wrap' chart-rank-total rankdata=rankdata[0] commoninfo=commondata ng-if="rankdata[0] != void(0)"></div>
        </div>
        <div class='chart-wrap'>
          <div class='chart-title c-left'>
            <div class='title-left rank'>
              <h3 class='text-center'>
                <strong>{{commondata.rateTotal?commondata.rateTotal:'--'}}{{commondata.rateUnit}}</strong>
              </h3>
              <p class='text-center'>同比增速</p>
            </div>
            <div class='title-right'>
              <div class='compare' ng-repeat='data in commondata.rankratedetail'>
                <label>{{data.name}}</label>
                <div class='c-num rank'>第&nbsp;&nbsp;{{data.value?data.value:'--'}}&nbsp;&nbsp;位&nbsp;&nbsp;
                  <span ng-if="data.floatValue < 0" class='rank-up'>
                    <span class='rank-num'>{{data.floatValue | toPositive}}位</span>
                  </span>
                  <span ng-if="data.floatValue > 0" class='rank-down'>
                    <span class='rank-num'>{{data.floatValue}}位</span>
                  </span>
                </div>
              </div>
              </div>
            </div>
            <div class='graph-wrap' chart-rank-rate rankrate=rankdata[1] commoninfo=commondata ng-if="rankdata[1] != void(0)"></div>
          </div>
        </div>
        <div class='s-chart' ng-show='isActive == 3'>
          <div class='chart-wrap'>
            <div class='chart-title target'>
              <h3 class='text-center'>{{commondata.totalTitle}}
                <strong>{{commondata.totalAmount?commondata.totalAmount:'--'}}</strong>{{commondata.totalUnit}}</h3>
              <h4 class='text-center'>占{{commondata.targetThisYear != '' ? commondata.targetThisYear:'--'}}年目标的
                <strong>{{commondata.percentThisYear!=''?commondata.percentThisYear:'--'}}%</strong>&nbsp;&nbsp;占巴中“十三五”目标的
                <strong>{{commondata.percentFutureYear!=''?commondata.percentFutureYear:'--'}}%</strong>
              </h4>
            </div>
            <div class='graph-wrap double-chart'>
              <div chart-target-goal targetgoaldata=targetdata[0] commoninfo=commondata ng-if="targetdata[0] != void(0)"></div>
              <div ng-show='commondata.totalAmount !=""' chart-target-goal-future targetgoaldata=targetdata[0] commoninfo=commondata ng-if="targetdata[0] != void(0)"></div>
            </div>
          </div>
          <div class='chart-wrap'>
            <div class='chart-title c-left'>
              <div class='title-left target'>
                <h3 class='text-center'>
                  <strong>{{commondata.targetRateTotal?commondata.targetRateTotal:'--'}}{{commondata.targetRateUnit}}</strong>
                </h3>
                <p class='text-center'>同比增速</p>
              </div>
              <div class='title-right'>
                <div class='compare' ng-repeat='item in commondata.othertargetrate'>
                  <label>与{{item.name}}比</label>
                  <div class='c-num' ng-if='commondata.targetRateTotal != ""'>
                    <span ng-if='(item.value == "") '>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class='higher' ng-if='(item.value != "" && commondata.targetRateTotal != "") &&(item.value - commondata.targetRateTotal<0)'>高</span>
                    <span class='equal' ng-if='(item.value != "" && commondata.targetRateTotal != "") && item.value == commondata.targetRateTotal'>持平</span>
                    <span class='lower' ng-if='(item.value != "" && commondata.targetRateTotal != "") && (item.value - commondata.targetRateTotal>0)'>低</span>
                    &nbsp;&nbsp;{{(item.value =='' || commondata.targetRateTotal == "")?'--':((commondata.targetRateTotal-item.value).toFixed(2)| toPositive)}}{{commondata.targetRateUnit}}</div>
                </div>
              </div>
            </div>
            <div class='graph-wrap' chart-target-rate targetratedata=targetdata[1] commoninfo=commondata ng-if="targetdata[1] != void(0)"></div>
          </div>
        </div>
        <div class='s-from'>
          <ul>
            <li>数据来自{{commondata.dep_name}}</li>
            <li>对比数据为上年同期数据</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
