<div class='index inner-wrap'>
  <div class='left'>
    <div class='china_map'><img src='assets/images/index_bg.png' /></div>
  </div>
  <div class='right'>
    <div class='back-btn'><a class='btn ' ui-sref='profile.menu({proid:8})'><span class='circle-wrap'><i class='fa fa-chevron-right'></i></span>巴中市经济详情</a></div>
    <div class='vbox border'>
      <span class='box-left-top'></span>
      <span class='box-left-bottom'></span>
      <span class='box-right-top'></span>
      <span class='box-right-bottom'></span>
      <div class="media">
        <a class="media-left"style='width:40%' >
          <img src='assets/images/gdp_ico.png' alt='gdp' width='45%'/>
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{qxdata.data[0].title}}</h4>
          <p>￥<strong class='total'>{{qxdata.data[0].item[0].value==""?"-":qxdata.data[0].item[0].value}}</strong>{{qxdata.data[0].item[0].unit}}</p>
          <p>增速<strong class='rate'>{{qxdata.data[0].item[1].value==""?"-":qxdata.data[0].item[1].value}}{{qxdata.data[0].item[1].unit}}</strong></p>
          <p>{{qxdata.data[0].model}}数据：来源{{qxdata.data[0].dep_name}}</p>
          <!-- <p>{{dataInfo.model }}数据：来源{{dataInfo.dep_name}}</p> -->
        </div>
      </div>
    </div>
    <div class='vbox hbox'>
      <div class='border'>
        <span class='box-left-top'></span>
        <span class='box-left-bottom'></span>
        <span class='box-right-top'></span>
        <span class='box-right-bottom'></span>
        <div class="media">
          <a class="media-left" >
            <img src='assets/images/con_ico.png' alt='gdp'  width='75%' />
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{qxdata.data[1].title}}</h4>
            <p>￥<strong class='total'>{{qxdata.data[1].item[0].value==""?"-":qxdata.data[1].item[0].value}}</strong>{{qxdata.data[1].item[0].unit}}</p>
            <p>增速<strong class='rate'>{{qxdata.data[1].item[1].value==""?"-":qxdata.data[1].item[1].value}}{{qxdata.data[1].item[1].unit}}</strong></p>
            <p>{{qxdata.data[1].model}}数据：来源{{qxdata.data[1].dep_name}}</p>
            <!-- <p>{{dataInfo.model }}数据：来源{{dataInfo.dep_name}}</p> -->
          </div>
        </div>
      </div>
      <div class='border'>
        <span class='box-left-top'></span>
        <span class='box-left-bottom'></span>
        <span class='box-right-top'></span>
        <span class='box-right-bottom'></span>
        <div class="media">
          <a class="media-left" >
            <img src='assets/images/ivst_ico.png' alt='gdp'  width='65%' />
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{qxdata.data[2].title}}</h4>
            <p>￥<strong class='total'>{{qxdata.data[2].item[0].value==""?"-":qxdata.data[2].item[0].value}}</strong>{{qxdata.data[2].item[0].unit}}</p>
            <p>增速<strong class='rate'>{{qxdata.data[2].item[1].value==""?"-":qxdata.data[2].item[1].value}}{{qxdata.data[2].item[1].unit}}</strong></p>
            <p>{{qxdata.data[2].model}}数据：来源{{qxdata.data[2].dep_name}}</p>
            <!-- <p>{{dataInfo.model }}数据：来源{{dataInfo.dep_name}}</p> -->
          </div>
        </div>
      </div>
    </div>
    <div class='vbox hbox'>
      <div class='border'>
        <span class='box-left-top'></span>
        <span class='box-left-bottom'></span>
        <span class='box-right-top'></span>
        <span class='box-right-bottom'></span>
        <div class="media">
          <a class="media-left" >
            <img src='assets/images/fi_ico.png' alt='gdp'  width='75%'/>
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{qxdata.data[3].title}}</h4>
            <p>￥<strong class='total'>{{qxdata.data[3].item[0].value==""?"-":qxdata.data[3].item[0].value}}</strong>{{qxdata.data[3].item[0].unit}}</p>
            <p>增速<strong class='rate'>{{qxdata.data[3].item[1].value==""?"-":qxdata.data[3].item[1].value}}{{qxdata.data[3].item[1].unit}}</strong></p>
            <p>{{qxdata.data[3].model}}数据：来源{{qxdata.data[3].dep_name}}</p>
            <!-- <p>{{dataInfo.model }}数据：来源财政局</p> -->
          </div>
        </div>
      </div>
      <div class='border'>
        <span class='box-left-top'></span>
        <span class='box-left-bottom'></span>
        <span class='box-right-top'></span>
        <span class='box-right-bottom'></span>
        <div class="media">
          <a class="media-left" >
            <img src='assets/images/in_ico.png' alt='gdp'  width='65%'/>
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{qxdata.data[4].title}}</h4>
            <p>￥<strong class='total'>{{qxdata.data[4].item[0].value==''?"-":qxdata.data[4].item[0].value}}</strong>{{qxdata.data[4].item[0].unit}}</p>
            <p>增速<strong class='rate'>{{qxdata.data[4].item[1].value==""?"-":qxdata.data[4].item[1].value}}{{qxdata.data[4].item[1].unit}}</strong></p>
            <p>{{qxdata.data[4].model}}数据：来源{{qxdata.data[4].dep_name}}</p>
            <!-- <p>{{dataInfo.model }}数据：来源{{dataInfo.dep_name}}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
