.main {
  @include flex-flow(row);
  @include flex-num(1);
  .wrap,
  .inner-wrap {
    @include flex-num(1);
    @include flex-flow(row);
  }
  padding: 0 15px 20px;
  .center {
    padding: 15px 10px 0;
    @include flex-align(stretch);
    @include flex-num(5);
    @include flex-flow(column);
    @include smallscreen {
      @include flex-num(4);
    }
    .center-top {
      background: rgba(0,120,255,.1);
      margin-bottom: 15px;
      border: 1px solid $innerline;
      color: $white;
      @include flex-num(1);
      @include smallscreen {
        //  max-height: 270px !important;
      }
    }
    .center-down {
      @include flex-num(1);
      @include flex-flow(row);
      @include smallscreen {
        //  max-height: 270px !important;
      }
      >div {
        @include flex-num(1);
      }
      .center-left,
      .center-right {
        height: 100%;
        border: 1px solid $innerline;
        background: rgba(0, 120, 215, 0.1);
      }
    }
  }
  .right {
    padding-top: 15px;
    @include flex-flow(column);
    @include flex-align(stretch);
    @include flex-num(2);
    .right-bottom {
      border: 1px solid $innerline;
      background: rgba(0, 120, 215, 0.1);
      @include flex-num(1);
      @include smallscreen {
        //max-height: 270px;
      }
    }
    .right-top {
      margin-bottom: 15px;
      background: rgba(0, 120, 215, 0.1);
      @extend .right-bottom;
      @include smallscreen {
        //max-height: 270px;
      }
    }
  }
}
.box {
  position: relative;
  border: 1px solid #3656bd;
  background: rgba(0, 120, 215, 0.1);
  height: 100%;
  @include flex-flow(column);
  .box-title {
    padding: 14px 10px 12px 2px;
    margin: 0;
    background: url("../assets/images/title_bg.png") no-repeat left;
    background-size: 100% 100%;
    margin-top: -2px;
    margin-left: -2px;
    @include font($fontSize:0.78rem,$textAlign:left);
  }
  .top-wrap {
    overflow: hidden;
    .box-sub-title {
      padding: 15px 2px 15px 0;
      color: #effcf9;
      font-size: 0.56rem;
      @include smallscreen {
        font-size: 0.65rem;
      }
    }
  }
  .box-content {
    @include flex-num(1);
    @include flex-flow(row);
    @include mobilescreen {
      @include flex-flow(column);
    }
    // @include smallscreen {
    //   max-height: 180px !important;
    // }
    .chart {
      @include flex-num(1);
      >div {
        @include mobilescreen {
          min-height: 300px;
        }
      }
    }
  }
  .box-border {
    position: absolute;
    content: '';
    display: inline-block;
    width: 15px;
    height: 11px;
  }
  .box-left-top {
    @extend .box-border;
    border-top: 2px solid rgb(0,127,203);
    border-left: 2px solid rgb(0,127,203);
    left: -3px;
    top: -3px;
  }
  .box-left-bottom {
    @extend .box-border;
    border-bottom: 2px solid rgb(0,127,203);
    left: -2px;
    bottom: -2px;
    border-left: 2px solid rgb(0,127,203);
  }
  .box-right-top {
    @extend .box-border;
    border-top: 2px solid rgb(0,127,203);
    right: -2px;
    top: -2px;
    border-right: 2px solid rgb(0,127,203);
  }
  .box-right-bottom {
    @extend .box-border;
    border-bottom: 2px solid rgb(0,127,203);
    right: -2px;
    bottom: -2px;
    border-right: 2px solid rgb(0,127,203);
  }
}
.datalist {
  padding: 5px 10px;
  @include flex-num(1);
  overflow-y: auto;
  .mdata-items {
    display: table;
    width: 100%;
    padding: 3px 10px;
    border-bottom: 1px solid rgba(0, 120, 215, 0.6);
    font-size: 12px;
    color: #fbfbfb;
    .data-item {
      display: table-cell;
      vertical-align: bottom;
      &.iname {
        width: 54%;
      }
      span {
        padding: 3px 6px;
        color: #efefef;
        border-radius: 4px;
        display: block;
        width: 55%;
        text-align: center;
        min-width: 60px;
        height: 22px;
      }
      &.increase {
        span {
          background: rgb(22,177,205);
        }
      }
      &.decrease {
        span {
          background: rgb(185,156,0);
        }
      }
      &:nth-child(2) {
        span {
          background: none;
          text-align: left;
        }
      }
      label {
        margin: 0;
        padding: 2px 8px;
        border-radius: 4px;
        color: $white;
      }
    }
  }
}
