<div ng-repeat='item in eco.dashcontent  track by $index' ng-class="{'wrap':  $index == 0 }" class='eco'>
  <div ng-if='$index == 0' class='inner-wrap'>
    <div class='center'>
      <div class='center-top box'>
        <span class='box-left-top'></span>
        <span class='box-left-bottom'></span>
        <span class='box-right-top'></span>
        <span class='box-right-bottom'></span>
        <div class='top-wrap'>
          <div class='pull-left'>
            <h5 class='box-title'>全市经济总体情况</h5>
          </div>
          <div class='pull-right box-sub-title'>{{chartlist[0].query_time}}数据：来源{{chartlist[0].dep_name}}</div>
        </div>
        <div class='box-content'>
          <div class='chart' dash-chart-etotal econtent=chartlist[0]></div>
          <div class='chart' dash-chart-increase icontent=chartlist[1]></div>
        </div>
      </div>
      <div class='center-down'>
        <div class='left15 right5'>
          <div class='center-left box'>
            <span class='box-left-top'></span>
            <span class='box-left-bottom'></span>
            <span class='box-right-top'></span>
            <span class='box-right-bottom'></span>
            <div class='top-wrap'>
              <div class='pull-left'>
                <h5 class='box-title'>全社会固定资产投资情况</h5>
              </div>
              <div class='pull-right box-sub-title'>{{chartlist[2].query_time}}数据：来源{{chartlist[2].dep_name}}</div>
            </div>
            <div class='chart' dash-chart-invest vcontent=chartlist[2]></div>
          </div>
        </div>
        <div class='right15 left5'>
          <div class='center-right box'>
            <span class='box-left-top'></span>
            <span class='box-left-bottom'></span>
            <span class='box-right-top'></span>
            <span class='box-right-bottom'></span>
            <div class='top-wrap'>
              <div class='pull-left'>
                <h5 class='box-title'>巴中市居民消费价格指数</h5>
              </div>
              <div class='pull-right box-sub-title'>{{chartlist[3].query_time}}数据：来源{{chartlist[3].dep_name}}</div>
            </div>
            <div class='chart' dash-chart-cpi ccontent=chartlist[3]></div>
          </div>
        </div>
      </div>
    </div>
    <div class='right'>
      <div class='right-top box'>
        <span class='box-left-top'></span>
        <span class='box-left-bottom'></span>
        <span class='box-right-top'></span>
        <span class='box-right-bottom'></span>
        <div class='top-wrap'>
          <div class='pull-left'>
            <h5 class='box-title'>主要经济指标</h5>
          </div>
          <div class='pull-right box-sub-title'></div>
        </div>
        <div class='datalist'>
          <div class='mdata-items'>
            <div class='data-item iname' style='font-weight:bold'>{{eco.ecoData.init_query_time}}数据</div>
            <div class='data-item' style='width: 23%;padding: 0 6px;' ng-repeat='colname in eco.ecoData.columnName'>{{colname}}</div>
          </div>
          <div class='mdata-items' ng-repeat='edata in eco.ecoData.rowData'>
            <div class='data-item iname'>{{edata.rowName}}</div>
            <div class='data-item' style='width: 23%;' ng-repeat='data in edata.rowValue track by $index' title='{{data.value}}' ng-class="{true: 'decrease', false: 'increase'}[data.value.indexOf('-')>-1]"><span ng-if='data.value == ""'>-</span><span ng-if='data.value != ""'>{{data.value}}</span></div>
          </div>
          <br/>
          <div class='mdata-items'>
            <div class='data-item iname' style='font-weight:bold'>{{eco.ecoData.init_query_time}}数据</div>
            <div class='data-item' style='width: 23%;padding: 0 6px;' ng-repeat='colname in eco.ecoDataDown.columnName'>{{colname}}</div>
          </div>
          <div class='mdata-items' ng-repeat='edata in eco.ecoDataDown.rowData'>
            <div class='data-item iname'>{{edata.rowName}}</div>
            <div class='data-item' style='width: 23%;' ng-repeat='data in edata.rowValue track by $index' title='{{data.value}}' ng-class="{true: 'decrease', false: 'increase'}[data.value.indexOf('-')>-1]"><span ng-if='data.value == ""'>-</span><span ng-if='data.value != ""'>{{data.value}}</span></div>
          </div>
        </div>
      </div>
      <div class='right-bottom box'>
        <span class='box-left-top'></span>
        <span class='box-left-bottom'></span>
        <span class='box-right-top'></span>
        <span class='box-right-bottom'></span>
        <div class='top-wrap'>
          <div class='pull-left'>
            <h5 class='box-title'>全市社会消费品零售额情况</h5>
          </div>
          <div class='pull-right box-sub-title'>{{chartlist[4].query_time}}数据：来源{{chartlist[4].dep_name}}</div>
        </div>
        <div class='chart' dash-chart-consume scontent=chartlist[4] style='min-height: 200px;'></div>
      </div>
    </div>
  </div>
</div>
