$fontSize: 14px;
$baseLineHeight: 1.5 !default;
$linkColor: #0078d7 #333 #20b3a9 #cdf1ec!default;
$sidebarWidth: 225px;
$contentPadding: 298px;
$headerHeight: 62px;
$white: #FFF;
$chartHeightSmall: 380px;
$chartHeightBig: 540px;
.page-wrap {
  @include flex-flow(row);
  @include flex-num(1);
  @include mobilescreen {
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
  }
}
.page-header-fixed {}
.header {
  &.navbar {
    font-size: 28px;
    font-weight: bold;
    font-family: 微软雅黑;
    margin-bottom: 0;
    border-bottom: 1px solid #DDD;
    background: $white;
    .navbar-right {
      font-size: 16px;
      >li {
        >a {
          color: #949494;
        }
      }
    }
    .navbar-brand {
      color: nth($linkColor,1);
      font-size: 28px;
      font-weight: bold;
      font-family: 微软雅黑;
    }
    @include mobilescreen {
      display: none;
    }
  }
}
.main-content {
  padding-top: $headerHeight;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  @include flex-flow(column);
  @include flex-num(1);
  @include mobilescreen {
    display: none;
  }
  .side-nav {
    width: $sidebarWidth;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: nth($linkColor,1);
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    position: fixed;
    top: 62px;
    z-index: 999;
    @include flex-align(stretch);
    >li {
      border-bottom: 1px solid #0063b1;
      border-bottom-style: inset;
      box-shadow: 0 1px 0.5px 0 #2d98ed;
      a {
        width: $sidebarWidth;
        color: #70e9fc;
        text-align: center;
        font-size: 16px;
        padding: 16px 10px;
        &:hover {
          background: #2554a4;
          color: $white;
        }
      }
      &.active {
        a {
          background: #2554a4;
          color: $white;
        }
      }
    }
  }
  .m-header {
    display: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .content-main {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    @include flex-num(1);
    @include flex-flow(column);
    padding-left: 234px;
  }
}
.mobile-content {
  display: none;
  @include mobilescreen {
    padding-top: 0;
    @include flex-flow(column);
    padding-top: $headerHeight;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    @include flex-flow(column);
    @include flex-num(1);
    left: 0;
    position: relative;
    display: block;
    &.sidebar-collapse {
      left: 225px;
    }
    .side-nav {
      width: $sidebarWidth;
      border: none;
      border-radius: 0;
      overflow-y: auto;
      background-color: nth($linkColor,1);
      bottom: 0;
      overflow-x: hidden;
      padding-bottom: 40px;
      z-index: 999;
      @include flex-align(stretch);
      position: absolute;
      top: 0;
      margin-top: 0;
      opacity: 0;
      margin-left: -225px;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      &.sidebar-collapse {
        opacity: 1;
        margin-bottom: 0;
      }
      >li {
        border-bottom: 1px solid #0063b1;
        border-bottom-style: inset;
        box-shadow: 0 1px 0.5px 0 #2d98ed;
        a {
          display: block;
          width: $sidebarWidth;
          color: #70e9fc;
          text-align: left;
          font-size: 16px;
          padding: 16px 10px;
          &:hover {
            background: #2554a4;
            color: $white;
          }
        }
        &.active {
          a {
            &.submenu {
              background: rgb(239,239,239);
              color: rgba(0, 120, 215, 1);
              padding: 14px 12px;
              border-bottom: 1px solid #DDD;
            }
            background: #2554a4;
            color: $white;
          }
          ul.collapse {
            >li {
              >a {
                background: rgb(239,239,239);
                color: rgba(0, 120, 215, 1);
                text-decoration: none;
                &.active {
                  font-weight: bold;
                  background: #DDD;
                }
              }
            }
          }
        }
      }
    }
    .m-header {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      display: block;
      position: relative;
      padding: 10px;
      border-bottom: 1px solid #DDD;
      margin-bottom: 0;
      font-size: 1.2rem;
      text-align: center;
      .fa-bars {
        position: absolute;
        left: 4px;
        top: 30%;
      }
      .menu-title {
        display: inline-block;
        margin: 0;
        font-family: 微软雅黑;
        color: #333;
      }
    }
    .content-main {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      @include flex-num(1);
      @include flex-flow(column);
      padding-left: 0;
      display: block;
      position: relative;
    }
    padding-top: 0;
  }
}
