<!DOCTYPE html>
<html lang="en" class="front-page">
  <head>
    <meta charset="utf-8"/>
    <title>首页</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href='../libraries/bootstrap/css/bootstrap.min.css' rel='stylesheet'/>
    <link href='../libraries/font-awesome/css/font-awesome.min.css' rel='stylesheet'/>
    <link href='../bundles/styles.css' rel='stylesheet'/>
  </head>

  <body class='page-header-fixed'>
    <div class='page-wrap'>
      <div class="header navbar navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="navbar-inner">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">巴中市经济辅助决策系统</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#">张三</a>
              </li>
              <li>
                <a href="#">退出系统
                  <span class="fa fa-power-off"></span>
                </a>
              </li>
            </ul>


          </div>
        </div>
      </div>

      <div class="main-content">
          <ul class="nav navbar-nav side-nav">
            <li ng-repeat='menu in main.menus' ui-sref-active="active">
              <a ui-sref='main.module({id:menu.id})'>{{menu.name}}</a>
            </li>
          </ul>
          <div class='content-main left5' ui-view>
          </div>
      </div>
    </div>
    <!-- Libraries -->
    <script src='../libraries/jquery/jquery.min.js'></script>
    <script src='../libraries/angular/angular.min.js'></script>
    <script src="../libraries/angular/angular-animate.js"></script>
    <script src='../libraries/bootstrap/js/bootstrap.min.js'></script>
    <script src='../libraries/echarts/echarts.js'></script>
    <script src='../libraries/angular-ui-router/angular-ui-router.min.js'></script>
    <!-- Customs -->
    <script src='../bundles/scripts.js'></script>
  </body>
</html>
