<!DOCTYPE html>
<html lang="en" class="front-page">
  <head>
    <meta charset="utf-8"/>
    <title>巴中市经济辅助决策系统</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  </head>

  <body class='page-header-fixed'>
    <div class='page-wrap'>
      <div class="header navbar navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="navbar-inner">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">巴中市政务决策系统</a>
            </div>

            <!-- <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#">张三</a>
              </li>
              <li>
                <a href="#">退出系统
                  <span class="fa fa-power-off"></span>
                </a>
              </li>
            </ul> -->


          </div>
        </div>
      </div>

      <div class="main-content">
          <ul class="nav navbar-nav side-nav">
            <li ng-repeat='menu in main.menus' ui-sref-active="active" >
              <a ng-if='menu.type == 0' ui-sref='main.preview({preid:menu.id})' ui-sref-opts="{reload:'main.preview'}">{{menu.name}}</a>
              <a ng-if='(menu.type != 0 && menu.type != 2)' ui-sref='main.module({id:menu.id,url:menu.url})' ui-sref-opts="{reload:'main.module'}">{{menu.name}}</a>
              <!-- <a ng-if='menu.type == 2' ui-sref='main.file({furl:menu.url})' ui-sref-opts="{reload:'main.file'}">{{menu.name}}</a> -->
              <a ng-if='menu.type == 2' >{{menu.name}}</a>
            </li>
          </ul>
          <div class='m-header' ng-click='main.showMenu()'><i class='fa fa-list' ></i>&nbsp;首页</div>
          <div class='content-main left5' ui-view>
          </div>
      </div>
    </div>
  </body>
</html>
